{% extends 'page.html' %}

{% block page %}

 <main class="my-auto mx-auto max-w-xl w-[27rem]">
        <div class="w-full flex items-center justify-center mb-4">
            <svg class="text-green-400 fill-green-400 h-24 w-24  p-3 rounded-full border-4 border-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"></path></svg>
        </div>
        <div class="text-title text-xl">
            <h3 class="text-center">Check your Email</h3>

            <p class="text-text text-sm text-center mt-4">Please check your inbox and follow the instructions</br> to reset your password.</p>
        </div>

        <div class="mt-4">
            <button type="button" class="btn-primary mt-4 mb-2 w-full">
                Resend Email
            </button>

            <div class="">
                <a href="{% url 'login' %}" class="text-secondary text-sm font-bold">Back to log in</a>
            </div>
        </div>
    </main> 

{% endblock page %}

