
{% extends 'page.html' %}


{% block page %}

 <main class="my-auto mx-auto max-w-xl w-[27rem]">
        <div class="w-full flex items-center justify-center mb-4">
            <svg class="text-green-400 fill-green-400 h-24 w-24  p-3 rounded-full border-4 border-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" /></svg>
        </div>
        <div class="text-title text-xl">
            <h3 class="text-center">Password reset complete</h3>

            <p class="text-text text-sm text-center mt-4">Your password has been set. You may go ahead</br> and log in now.</p>
        </div>

        <div class="mt-4">
            <div class="text-center">
                <a href="{% url 'login' %}" class="text-secondary text-sm font-bold">Back to log in</a>
            </div>
        </div>
    </main> 

{% endblock page %}