{% extends 'page.html' %}

{% block page %}

    <main class="my-auto mx-auto max-w-xl w-[27rem]">
        <div class="text-title text-xl">
            <h3 class="text-center">Forget your Password?</h3>

            <p class="text-text text-sm text-center mt-4">Enter your email address and we will send you</br> instructions to reset your password.</p>
        </div>

        <form class="mt-8" action="{% url 'reset_password' %}" method="post">
            {% csrf_token %} 
            <label for="{{form.email.id_for_label}}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Email</label>
            <div class="relative mb-6">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                </div>
                <input type="text" name="{{form.email.html_name}}" id="{{form.email.id_for_label}}" class="bg-background border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com">
            </div>
            <button type="submit"  class="btn-primary mt-4 mb-2 w-full">
                Send
            </button>

            <div class="">
                <a href="{% url 'login' %}" class="text-secondary text-sm font-bold">Back to log in</a>
            </div>
        </form>
    </main> 

{% endblock page %}