{% load compress %} {% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en" class="max-w-screen overflow-x-hidden">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Commissioner:wght@100..900&display=swap" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Saro</title>
    <meta name="description" content="Let AI trade for you" />

    <!-- This is for search engines and won't affect the actual URL directly, but it's a good practice to ensure your slug is reflected in the URL structure managed by your server or CMS -->
    {% comment %} <link rel="canonical" href="https:www.//isalgo.com/easy-trading-strategies-for-all-levels" /> {% endcomment %}
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
    <link rel="icon" sizes="16x16" href="{% static 'images/logo_img_16_16.png' %}" />
    <link rel="icon" sizes="32x32" href="{% static 'images/logo_img_32_32.png' %}" />
    <link rel="icon" sizes="48x48" href="{% static 'images/logo_img_48_48.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/logo_img_180_180.png' %}" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="{% static 'images/seo-meta-img.png' %}" />

    <!-- Open Graph / Facebook meta tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Saro" />
    <meta property="og:description" content="Dive into trading strategies that work across any market and timeframe. Perfect for both beginners and advanced traders, our guide offers backtestable and automatable solutions to elevate your trading game." />
    <meta property="og:url" content="https://www.isalgo.com/saro/chat" />
    <meta name="og:image" content="{% static 'images/seo-meta-img.png' %}" />

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Saro" />
    <meta name="twitter:description" content="Dive into trading strategies that work across any market and timeframe. Perfect for both beginners and advanced traders, our guide offers backtestable and automatable solutions to elevate your trading game." />
    <meta name="twitter:url" content="https://www.isalgo.com/saro/chat" />
    <meta name="twitter:image" content="{% static 'images/seo-meta-img.png' %}" />

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}

    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      const stripe_public_key = '{{ stripe_public_key }}'
      
      // Load theme
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script src="{% static 'js/index.js' %}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </head>

  <body class="bg-background flex flex-col relative max-w-full mx-auto overflow-x-clip">
    <script>
      // Fix mobile viewport height issue
      function setVh() {
        document.documentElement.style.setProperty('--vh', window.innerHeight * 0.01 + 'px')
      }
      window.addEventListener('resize', setVh)
      setVh()
    </script>
    <main id="saro" class="w-full overflow-hidden relative flex flex-col p-1" style="height: calc(var(--vh) * 100);" user-email="{{ user_profile }}" user-id="{{ user_profile.id }}" user-tv-username="{{ user_profile.tradingview_username }}" user-is-lifetime="{{ user_profile.is_lifetime }}" user-has-subscription="{{ has_subscription }}" user-subscription-plan="{{ subscription_plan }}" is-page="true"></main>

    {% if IS_PRODUCTION %}
      <script src="{% static 'js/saro_app.js' %}" defer></script>
    {% else %}
      <script src="http://localhost:3001/static/js/bundle.js"></script>
    {% endif %}

    {% if user.is_authenticated %}
      <!-- ai tokens AI modal -->
      {% with title='ai-tokens' %}
        {% render_template 'include/ai_tokens_form.html' title=title as ai_tokens_form %}
        {% with header_html="<h3 class='text-xl font-semibold text-title'>Buy AI Tokens</h3>" %}
          {% include 'include/modal.html' with modal_id='staticModal-'|add:title header=header_html body=ai_tokens_form stripe_element_id=title close_modal_btn_id='add-'|add:title|add:'-close-form-btn' content_class='bg-text/10 backdrop-blur-3xl' header_class=' from-text/10 ' body_class='px-2 mt-4' bottom_effect_class='from-transparent' %}
        {% endwith %}
      {% endwith %}
    {% endif %}

    <script>
      window.buyAiToken = function (message) {
        openAITokensModalSettings(true)
      }
    </script>
  </body>
</html>
