{% extends 'page.html' %} {% load static %}

{% block head_title %}
  <title>Saro</title>
{% endblock %}

{% block head_description %}
  <meta name="description" content="Let AI trade for you" />
{% endblock %}

{% block navbar %}
  {% comment %} {% include 'include/saro/navbar.html' %} {% endcomment %}
{% endblock %}

{% block page %}
  <main id="saro" class="w-full max-h-screen h-screen overflow-hidden relative flex flex-col" user-email="{{ user_profile }}" user-id="{{ user_profile.id }}" user-tv-username="{{ user_profile.tradingview_username }}" user-is-lifetime="{{ user_profile.is_lifetime }}" user-has-subscription="{{ has_subscription }}" user-subscription-plan="{{ subscription_plan }}" is-page="true"></main>

  {% if IS_PRODUCTION %}
    <script src="{% static 'js/aichatReact.js' %}" defer></script>
  {% else %}
    <script src="http://localhost:3001/static/js/bundle.js"></script>
  {% endif %}

  <script>
    window.buyAiToken = function (message) {
      openAITokensModalSettings(true)
    }
  </script>
  <script>
    function setViewportHeight() {
      const vh = window.innerHeight * 0.01
      document.documentElement.style.setProperty('--vh', `${vh}px`)
    }
    
    window.addEventListener('resize', setViewportHeight)
    window.addEventListener('orientationchange', setViewportHeight)
    setViewportHeight()
  </script>
{% endblock %}

{% block footer %}
  <footer class=""></footer>
{% endblock %}
