<div class="">
  {% if user.is_authenticated and subscription %}
  <button
    class="text-secondary text-sm font-semibold underlinei"
    id="add-comment-btn"
    onclick='toggleForm("add-comment-btn", "add-comment-form")'
  >
    Share your idea
  </button>
  {% elif user.is_authenticated and not subscription %}
  <button
    class="text-secondary text-sm font-semibold underlinei"
    data-modal-target="upgrade-modal"
    data-modal-toggle="upgrade-modal"
  >
    Share your idea
  </button>
  {% else %}
  <a
    class="text-secondary text-sm font-semibold underlinei"
    href="{% url 'login' %}"
  >
    Share your idea
  </a>
  {% endif %}
  <form
    class="hidden"
    id="add-comment-form"
    hx-post="{% url 'submit_comment' strategy.id %}"
    hx-target="#commentsDiv"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <label for="chat" class="sr-only">Your message</label>
    <div class="flex px-0 py-3 rounded-lg bg-background brightness-125i">
      <div class="self-stretch flex flex-col">
        <button
          type="button"
          onclick='toggleForm("add-comment-btn", "add-comment-form")'
          class="mb-auto inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600"
        >
          <svg
            class="w-4 h-4"
            aria-hidden="true"
            stroke-width="0"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill="currentColor"
              stroke="currentColor"
              stroke-width="2"
              d="M3,3 L21,21 M3,21 L21,3"
            ></path>
          </svg>
        </button>
        <input
          id="add-comment-imgs"
          class="hidden"
          type="file"
          accept="image/*"
          name="images"
          multiple
        />
        <button
          onclick='showSelectImgs("add-comment-imgs")'
          type="button"
          class="mt-auto inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600"
        >
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 18"
          >
            <path
              fill="currentColor"
              d="M13 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM7.565 7.423 4.5 14h11.518l-2.516-3.71L11 13 7.565 7.423Z"
            />
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M18 1H2a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"
            />
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM7.565 7.423 4.5 14h11.518l-2.516-3.71L11 13 7.565 7.423Z"
            />
          </svg>
          <span class="sr-only">Upload image</span>
        </button>
      </div>
      <textarea
        name="description"
        rows="5"
        class="block mx-1.5 p-2 w-full text-sm text-gray-900 bg-transparent rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Your idea..."
      ></textarea>
      <button
        type="submit"
        class="inline-flex justify-center p-2 text-secondary rounded-full cursor-pointer mt-auto"
      >
        <svg
          class="w-5 h-5 rotate-90"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 18 20"
        >
          <path
            d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"
          />
        </svg>
        <span class="sr-only">Send message</span>
      </button>
    </div>

    <div id="add-comment-form-errors"></div>
  </form>
</div>
