{% load custom_filters %}

<form
  class="flex items-center"
  hx-post="{% url 'comment_like' comment.id 'positive' %}"
  hx-target="#comment-likes-{{ comment.id }}"
>
  {% csrf_token %} {% if user.is_authenticated and has_subscription %}
  <button type="submit">
    <svg
      class="{% if user in comment.likes.all %}fill-text{% else %}fill-text/50{% endif %} w-5 h-5 cursor-pointer"
      stroke-width="0"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4 21h1V8H4a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2zM20 8h-7l1.122-3.368A2 2 0 0 0 12.225 2H12L7 7.438V21h11l3.912-8.596L22 12v-2a2 2 0 0 0-2-2z"
      ></path>
    </svg>
  </button>
  {% elif user.is_authenticated and not has_subscription %}
  <button
    type="button"
    class=""
    data-modal-target="upgrade-modal"
    data-modal-toggle="upgrade-modal"
  >
    <svg
      class="{% if user in comment.likes.all %}fill-text{% else %}fill-text/50{% endif %} w-5 h-5 cursor-pointer"
      stroke-width="0"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4 21h1V8H4a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2zM20 8h-7l1.122-3.368A2 2 0 0 0 12.225 2H12L7 7.438V21h11l3.912-8.596L22 12v-2a2 2 0 0 0-2-2z"
      ></path>
    </svg>
  </button>
  {% else %}
  <a class="" href="{% url 'login' %}">
    <svg
      class="{% if user in comment.likes.all %}fill-text{% else %}fill-text/50{% endif %} w-5 h-5 cursor-pointer"
      stroke-width="0"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4 21h1V8H4a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2zM20 8h-7l1.122-3.368A2 2 0 0 0 12.225 2H12L7 7.438V21h11l3.912-8.596L22 12v-2a2 2 0 0 0-2-2z"
      ></path>
    </svg>
  </a>
  {% endif %}
</form>
<span class="text-text/50 text-sm font-semibold px-1"
  >{% with total=comment.likes.count|subtract:comment.dislike.count %} {{ total }} {% endwith %}</span>
<form
  class="flex items-center"
  hx-post="{% url 'comment_like' comment.id 'negative' %}"
  hx-target="#comment-likes-{{ comment.id }}"
>
  {% csrf_token %} {% if user.is_authenticated and has_subscription %}
  <button type="submit">
    <svg
      class="{% if user in comment.dislike.all %}fill-text{% else %}fill-text/50{% endif %} w-5 h-5 cursor-pointer"
      stroke-width="0"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M20 3h-1v13h1a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2zM4 16h7l-1.122 3.368A2 2 0 0 0 11.775 22H12l5-5.438V3H6l-3.937 8.649-.063.293V14a2 2 0 0 0 2 2z"
      ></path>
    </svg>
  </button>
  {% elif user.is_authenticated and not has_subscription %}
  <button
    type="button"
    class=""
    data-modal-target="upgrade-modal"
    data-modal-toggle="upgrade-modal"
  >
  <svg
    class="{% if user in comment.dislike.all %}fill-text{% else %}fill-text/50{% endif %} w-5 h-5 cursor-pointer"
    stroke-width="0"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M20 3h-1v13h1a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2zM4 16h7l-1.122 3.368A2 2 0 0 0 11.775 22H12l5-5.438V3H6l-3.937 8.649-.063.293V14a2 2 0 0 0 2 2z"
    ></path>
    </svg>
  </button>
  {% else %}
  <a class="" href="{% url 'login' %}">
    <svg
      class="{% if user in comment.dislike.all %}fill-text{% else %}fill-text/50{% endif %} w-5 h-5 cursor-pointer"
      stroke-width="0"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M20 3h-1v13h1a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2zM4 16h7l-1.122 3.368A2 2 0 0 0 11.775 22H12l5-5.438V3H6l-3.937 8.649-.063.293V14a2 2 0 0 0 2 2z"
      ></path>
    </svg>
  </a>
  {% endif %}
</form>
