<div class="my-0.5 w-fit max-w-full">
  <div class="border-b-0 border-text/50 flex flex-col pb-2">
    <p class="text-text/80 text-sm whitespace-pre-line break-all">
      {{comment.description}}
    </p>
    {% include "include/images.html" with images=comment.images.all %}

    <div class="mt-2 flex items-center">
      <span class="text-text/70 text-xs"
        ><span class="font-bold"
          >@{{ comment.created_by.get_tradingview_username}}</span
        ></span
      >
      <span class="ml-4 text-text/50 text-xs"
        >{{ comment.created_at|timesince }} ago</span
      >
    </div>

    <div id="replies-{{comment.id}}-comment" class="">
      {% include "include/comment_replies.html" %}
    </div>
  </div>
</div>
