<!-- Main modal -->
<div
  id="modal-images"
  data-modal-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative w-full max-w-[100vw] max-h-full h-full mx-auto">
    <!-- Modal content -->
    <div class="relative bg-background rounded-lg shadow h-full flex flex-col">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4">
        <h3 class="text-xl font-semibold text-text"></h3>
        <button
          type="button"
          class="btn-icon"
          data-modal-hide="modal-images"
        >
          <svg
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
      <!-- Modal body -->
      <div class="h-full w-full my-auto">
        <div
          id="controls-carousel"
          class="relative w-full h-full"
          data-carousel="static"
        >
          <!-- Carousel wrapper -->
          <div
            id="images-carousel"
            class="relative h-full overflow-hidden rounded-lg"
          >
            <!-- Item 1 -->

            {% for image in images %}
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
              <img
                src="{{image.img.url}}"
                class="object-scale-down absolute max-w-[95%] max-h-[99%] aspect-auto block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
                alt=""
              />
            </div>
            {% endfor %}
          </div>
          <!-- Slider controls -->
          <button
            type="button"
            class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-prev
            id="prev-button-carousel"
          >
            <span
              class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-background brightness-150 group-focus:outline-none opacity-40 hover:opacity-100"
            >
              <svg
                class="w-4 h-4 text-text/80"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 1 1 5l4 4"
                />
              </svg>
              <span class="sr-only">Previous</span>
            </span>
          </button>
          <button
            type="button"
            class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
            data-carousel-next
            id="next-button-carousel"
          >
            <span
              class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-background brightness-150 group-focus:outline-none opacity-40 hover:opacity-100"
            >
              <svg
                class="w-4 h-4 text-text/80"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 6 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 9 4-4-4-4"
                />
              </svg>
              <span class="sr-only">Next</span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
