{% load static %}
{% load custom_tags %}

{% comment %} <div class="border-[1px] border-title/20 rounded-lg p-2">
  <a class="flex flex-col items-center" href="{% url 'strategy' slug=strategy.slug %}">
    <div class="w-full mb-2.5">
      <a href="{% url 'strategy' slug=strategy.slug %}"><h3 class="text-title text-base font-bold line-clamp-1 flex items-center">{{ strategy.name }}</h3></a>
    </div>

    <div class="w-full mb-2">
      <a href="{% url 'strategy' slug=strategy.slug %}">
        {% if strategy.image_url %}
          <img src="{{ strategy.image_url }}" alt="Strategy Image" class="w-full aspect-video mx-auto rounded-md" />
        {% else %}
          <img src="{% static 'images/chart_nobg_l.png' %}" alt="Default Image" class="w-full max-h-64 aspect-video mx-auto rounded-lg" />
        {% endif %}
      </a>
    </div>

    <p class="text-text line-clamp-2 text-sm my-2">{{ strategy.description }}</p>

    <div class="w-full mt-auto">
      <div class="flex items-center justify-between">
        <div class="text-text text-xs flex items-center">
          <a href="{% url 'strategy' slug=strategy.slug %}" class="text-text flex items-center px-2.5 py-0.5 rounded-full border-[0.8px] border-text/40 mr-2.5">
            <svg class="w-3.5 aspect-square mr-1" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 12H4V21H2V12ZM5 14H7V21H5V14ZM16 8H18V21H16V8ZM19 10H21V21H19V10ZM9 2H11V21H9V2ZM12 4H14V21H12V4Z"></path>
            </svg>
            {{ strategy.strategyresults_set.all|length }}
          </a>
          <a href="{% url 'strategy' slug=strategy.slug %}" class="text-text flex items-center px-2.5 py-0.5 rounded-full border-[0.8px] border-text/40">
            <svg class="w-3.5 aspect-square mr-1" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.75 1h12.5c.966 0 1.75.784 1.75 1.75v9.5A1.75 1.75 0 0 1 14.25 14H8.061l-2.574 2.573A1.458 1.458 0 0 1 3 15.543V14H1.75A1.75 1.75 0 0 1 0 12.25v-9.5C0 1.784.784 1 1.75 1ZM1.5 2.75v9.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.749.749 0 0 1 .53-.22h6.5a.25.25 0 0 0 .25-.25v-9.5a.25.25 0 0 0-.25-.25H1.75a.25.25 0 0 0-.25.25Z"></path>
              <path d="M22.5 8.75a.25.25 0 0 0-.25-.25h-3.5a.75.75 0 0 1 0-1.5h3.5c.966 0 1.75.784 1.75 1.75v9.5A1.75 1.75 0 0 1 22.25 20H21v1.543a1.457 1.457 0 0 1-2.487 1.03L15.939 20H10.75A1.75 1.75 0 0 1 9 18.25v-1.465a.75.75 0 0 1 1.5 0v1.465c0 .138.112.25.25.25h5.5a.75.75 0 0 1 .53.22l2.72 2.72v-2.19a.75.75 0 0 1 .75-.75h2a.25.25 0 0 0 .25-.25v-9.5Z"></path>
            </svg>
            {{ strategy.strategycomments_set.all|length }}
          </a>
        </div>

        <a href="{% url 'strategy' slug=strategy.slug %}" class="text-xs text-accent hover:text-title/80 transition-colors px-2 rounded-full">Read more &rarr;</a>
      </div>
    </div>
  </a>
</div> {% endcomment %}

<div class="group bg-text/5 backdrop-blur-3xl rounded-md overflow-hidden relative cursor-pointer">
  <a class="relative" href="{% url 'strategy' slug=strategy.slug %}">
    <div class="relative h-48 overflow-hidden">
      {% if strategy.short_video_url %}
        <video class="w-full h-full object-cover transform group-hover:scale-110 transition-transform duration-700" muted loop playsinline poster="{{ strategy.image_url|default:'/static/images/default_strategy_image.jpg' }}">
          <source src="{{ strategy.short_video_url }}" type="video/mp4" />Your browser does not support the video tag.
        </video>
      {% else %}
        <img src="{{ strategy.image_url|default:'/static/images/default_strategy_image.jpg' }}" alt="{{ strategy.name }}" class="w-full h-full object-cover transform group-hover:scale-110 transition-transform duration-700" />
      {% endif %}

      <div class="absolute top-3 left-3 ">
        {% include 'strategies/include/strategy_badge.html' %}
      </div>
    </div>

    <div class="p-4 relative">
      <h3 class="text-base line-clamp-1 font-bold text-title mb-2 group-hover:text-primary transition-colors">{{ strategy.name }}</h3>

      <p class="text-text line-clamp-2 text-sm mb-4">{{ strategy.description }}</p>

      <div class="flex items-center justify-between border-t border-text/10 pt-3">
        <div class="flex items-center gap-3">
          <div class="flex items-center gap-1.5 text-text/80">
            <svg class="w-3.5 aspect-square stroke-current {% if user in strategy.likes.all %}fill-current{% endif %}" viewBox="0 0 16 17.5" xmlns="http://www.w3.org/2000/svg">
              <path class="" stroke-width="1.5" d="M11.8 1c-1.682 0-3.129 1.368-3.799 2.797-0.671-1.429-2.118-2.797-3.8-2.797-2.318 0-4.2 1.882-4.2 4.2 0 4.716 4.758 5.953 8 10.616 3.065-4.634 8-6.050 8-10.616 0-2.319-1.882-4.2-4.2-4.2z"></path>
            </svg>
            <span class="text-sm">{{ strategy.likes.count|abbrev }}</span>
          </div>
          <div class="flex items-center gap-1.5 text-text/80">
            <svg class="w-3.5 aspect-square" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 12H4V21H2V12ZM5 14H7V21H5V14ZM16 8H18V21H16V8ZM19 10H21V21H19V10ZM9 2H11V21H9V2ZM12 4H14V21H12V4Z"></path>
            </svg>
            <span class="text-sm">{{ strategy.strategyresults_set.all|length|abbrev }}</span>
          </div>
          <div class="flex items-center gap-1.5 text-text/80">
            <svg class="w-3.5 aspect-square" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.75 1h12.5c.966 0 1.75.784 1.75 1.75v9.5A1.75 1.75 0 0 1 14.25 14H8.061l-2.574 2.573A1.458 1.458 0 0 1 3 15.543V14H1.75A1.75 1.75 0 0 1 0 12.25v-9.5C0 1.784.784 1 1.75 1ZM1.5 2.75v9.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.749.749 0 0 1 .53-.22h6.5a.25.25 0 0 0 .25-.25v-9.5a.25.25 0 0 0-.25-.25H1.75a.25.25 0 0 0-.25.25Z"></path>
              <path d="M22.5 8.75a.25.25 0 0 0-.25-.25h-3.5a.75.75 0 0 1 0-1.5h3.5c.966 0 1.75.784 1.75 1.75v9.5A1.75 1.75 0 0 1 22.25 20H21v1.543a1.457 1.457 0 0 1-2.487 1.03L15.939 20H10.75A1.75 1.75 0 0 1 9 18.25v-1.465a.75.75 0 0 1 1.5 0v1.465c0 .138.112.25.25.25h5.5a.75.75 0 0 1 .53.22l2.72 2.72v-2.19a.75.75 0 0 1 .75-.75h2a.25.25 0 0 0 .25-.25v-9.5Z"></path>
            </svg>
            <span class="text-sm">{{ strategy.strategycomments_set.all|length|abbrev }}</span>
          </div>
        </div>

        <button class="flex items-center gap-1 text-title hover:text-primary transition-colors group/btn"><span class="text-xs font-medium">Learn more &rarr;</span></button>
      </div>
    </div>
  </a>
</div>
