{% load i18n %}
<form hx-post="{% url 'create_strategy' %}" class="w-full" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="strategy-email" class="input-label">{% trans 'Email' %}</label>
  <div class="relative mb-6">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      <svg aria-hidden="true" class="w-5 h-5 text-text/60" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
      </svg>
    </div>
    <input type="email" name="email" id="strategy-email" value="{{ user.email }}" class="input-text w-full pl-10 p-2.5" placeholder="name@company.com" />
  </div>

  <div class="relative mb-6">
    <label for="strategy-content" class="input-label">{% trans 'Describe your strategy' %}</label>
    <textarea name="content" id="strategy-content" rows="6" class="w-full input-text" placeholder="Describe how your strategy works, include entry and exit rules, indicators used, and any other relevant details..."></textarea>
    <p class="text-xs text-text/40 mt-1">
      {% trans 'Minimum 200 characters' %}
    </p>
  </div>

  <div class="relative mb-0 border border-text/60 rounded-md p-2 flex items-center">
    <input class="hidden" type="file" name="documents" id="strategy-file-input" multiple onchange="showSelectedFiles('strategy-file-input', 'strategy-file-list')" />
    <button onclick="showSelectImgs('strategy-file-input')" type="button" class="p-2 hover:text-accent hover:border-accent rounded-full text-text border-2 border-text/60">
      <svg class="h-6 w-6" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path fill="none" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M216.08 192v143.85a40.08 40.08 0 0 0 80.15 0l.13-188.55a67.94 67.94 0 1 0-135.87 0v189.82a95.51 95.51 0 1 0 191 0V159.74"></path>
      </svg>
    </button>
    <p class="text-text text-xs ml-3">
      {% trans 'Attach screenshots showing entry & exit points.' %}<br />
      {% trans 'Up to 5 files, max 10 MB each.' %}
    </p>
  </div>

  <div id="strategy-file-list" class="max-w-full"></div>

  <div id="strategy-request-form-errors" class="mb-4 mt-6">
    {% include 'include/errors.html' with class='' %}
    {% include 'include/succes.html' with class='' %}
  </div>

  <button type="submit" class="btn-accent mb-2 w-full" id="btn-strategy-request" onclick="document.getElementById('strategy-request-form-errors').innerHTML = ''; openLoader('-strategy-request', '', 'flex')">
    <div class="flex items-center justify-center w-full">
      {% trans 'Send Request' %}
      <svg class="h-4 w-4 ml-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill="none" stroke-width="2" d="M22,3 L2,11 L20.5,19 L22,3 Z M10,20.5 L13,16 M15.5,9.5 L9,14 L9.85884537,20.0119176 C9.93680292,20.5576204 10.0751625,20.5490248 10.1651297,20.009222 L11,15 L15.5,9.5 Z"></path>
      </svg>
    </div>
  </button>

  <button id="spinner-strategy-request" disabled type="button" class="btn-accent mb-2 w-full hidden">
    {% trans 'Sending' %}
    {% include 'svg/spinner.html' with class='ml-1.5 h-4' %}
  </button>
</form>
