<section class="mt-4 w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
  {% include 'include/dash/trades_card.html' with title='Total trades' value=overview_data.trades win_rate=overview_data.win_rate loss=overview_data.losing_trades win=overview_data.winning_trades %}
  {% include 'include/dash/trades_card.html' with title='Buy trades' value=overview_data.buy_trades win_rate=overview_data.buy_win_rate loss=overview_data.buy_losing_trades win=overview_data.buy_winning_trades %}
  {% include 'include/dash/trades_card.html' with title='Sell trades' value=overview_data.sell_trades win_rate=overview_data.sell_win_rate loss=overview_data.sell_losing_trades win=overview_data.sell_winning_trades %}
  {% comment %} {% include 'include/dash/number_card.html' with title='Total trades' value=overview_data.trades buy_value=overview_data.buy_trades sell_value=overview_data.sell_trades %}
  {% include 'include/dash/number_card.html' with title='Winning trades' value=overview_data.winning_trades value_class='text-profit' buy_value=overview_data.buy_winning_trades sell_value=overview_data.sell_winning_trades %}
  {% include 'include/dash/number_card.html' with title='Losing trades' value=overview_data.losing_trades value_class='text-loss' buy_value=overview_data.buy_losing_trades sell_value=overview_data.sell_losing_trades %}
  {% include 'include/dash/number_card.html' with title='Win rate' value=overview_data.win_rate|stringformat:'s'|add:'%' buy_value=overview_data.buy_win_rate|default:'0'|stringformat:'s'|add:'%' sell_value=overview_data.sell_win_rate|default:'0'|stringformat:'s'|add:'%' %} {% endcomment %}
</section>

{% if chart_data %}
  <section class="mt-6 w-full border border-text/10 p-4 rounded-lg">
    <h4 class="text-sm sm:text-base font-semibold text-title/80 mb-4">Performance</h4>
    {% include 'automate/include/dash/profit_chart.html' with account=account data=chart_data %}
  </section>
{% endif %}

{% if trades|length > 0 %}
  <section class="mt-6 w-full border border-text/10 mb-12 p-4 rounded-lg">
    <h4 class="text-sm sm:text-base font-semibold text-title/80 mb-4">List of Trades</h4>
    <div class="h-96 w-full">
      {% include 'automate/include/account_trades.html' with broker_type='strategy' id=strategy.id only_closed_trades=only_closed_trades thead_class='' %}
    </div>
  </section>
{% endif %}
