[submodule "tero"]
	path = tero
	url = git@github.com:NidhalNouma/isalgo-tero.git
	branch = main
[submodule "__strategies__"]
	path = __strategies__
	url = git@github.com:NidhalNouma/isalgo_strategies.git
