{% load custom_tags %}

<div class="bg-text/5 text-text/80 text-xs font-medium p-2 rounded-lg flex flex-col w-full">
  {% if url and not no_drawer %}
    {% if form %}
      <form id="form-st-{{ form }}" hx-get="{{ url }}?inpage=true" hx-target="#as-{{ form }}" hx-swap="outerHTML" hx-trigger="submit once" class="w-full">
        {% csrf_token %}
        <button type="submit" onclick="openDrawer('drawer-{{ form }}', 'bottom'); if(this.dataset.loaded) { event.preventDefault(); } else { this.dataset.loaded = 'true'; }" class="text-base text-title/80 font-semibold btn-a justify-between w-full">
          {{ title }}
          <span class="p-0.5 bg-text/20 rounded-full ml-1">
            <svg class="h-3.5 aspect-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m9 18 6-6-6-6"></path>
            </svg>
          </span>
        </button>
      </form>
    {% else %}
      <a class="text-base text-title/80 font-semibold btn-a justify-between" href="{{ url }}">
        {{ title }}
        <span class="p-0.5 bg-text/20 rounded-full ml-1">
          <svg class="h-3.5 aspect-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m9 18 6-6-6-6"></path>
          </svg>
        </span>
      </a>
    {% endif %}
  {% else %}
    <h5 class="text-lg text-title/80 font-semibold">{{ title }}</h5>
  {% endif %}

  <div class="mt-1.5 bg-text/5 p-1.5 rounded-md">
    <div class="">
      <label class="input-label mb-0 text-xs">Total trades</label>
      <div class="mt-0.5">
        <span class="text-base text-text/90">{{ info.trades|default:'0' }}</span>
      </div>
    </div>
    <div class="flex justify-between items-center gap-2">
      <label class="input-label mb-0 text-xs">Win Rate</label>
      <span class="text-base text-profit font-bold">{{ info.win_rate|default:'0' }}%</span>
    </div>
    <div class="w-full bg-text/5 rounded-md my-1">
      <div class="h-full bg-profit py-0.5 rounded-md" style="width: {{ info.win_rate|default:'0' }}%"></div>
    </div>
    <div class="flex justify-between items-center gap-2">
      <h6 class="text-loss text-sm">{{ info.losing_trades|default:'0' }} L</h6>
      <h6 class="text-profit text-sm">{{ info.winning_trades|default:'0' }} W</h6>
    </div>
  </div>

  <div class="mt-1.5 bg-text/5 p-1.5 rounded-md">
    <div class="">
      <label class="input-label mb-0 text-xs">Buy trades</label>
      <div class="mt-0.5">
        <span class="text-base text-text/90">{{ info.trades|default:'0' }}</span>
      </div>
    </div>
    <div class="flex justify-between items-center gap-2">
      <label class="input-label mb-0 text-xs">Win Rate</label>
      <span class="text-base text-profit font-bold">{{ info.buy_win_rate|default:'0' }}%</span>
    </div>
    <div class="w-full bg-text/5 rounded-md my-1">
      <div class="h-full bg-profit py-0.5 rounded-md" style="width: {{ info.buy_win_rate|default:'0' }}%"></div>
    </div>
    <div class="flex justify-between items-center gap-2">
      <h6 class="text-loss text-sm">{{ info.buy_losing_trades|default:'0' }} L</h6>
      <h6 class="text-profit text-sm">{{ info.buy_winning_trades|default:'0' }} W</h6>
    </div>
  </div>

  <div class="mt-1.5 bg-text/5 p-1.5 rounded-md">
    <div class="">
      <label class="input-label mb-0 text-xs">Sell trades</label>
      <div class="mt-0.5">
        <span class="text-base text-text/90">{{ info.sell_trades|default:'0' }}</span>
      </div>
    </div>
    <div class="flex justify-between items-center gap-2">
      <label class="input-label mb-0 text-xs">Win Rate</label>
      <span class="text-base text-profit font-bold">{{ info.sell_win_rate|default:'0' }}%</span>
    </div>
    <div class="w-full bg-text/5 rounded-md my-1">
      <div class="h-full bg-profit py-0.5 rounded-md" style="width: {{ info.sell_win_rate|default:'0' }}%"></div>
    </div>
    <div class="flex justify-between items-center gap-2">
      <h6 class="text-loss text-sm">{{ info.sell_losing_trades|default:'0' }} L</h6>
      <h6 class="text-profit text-sm">{{ info.sell_winning_trades|default:'0' }} W</h6>
    </div>
  </div>

  {% comment %} <div class="grid grid-cols-3 gap-2 mt-2">
    <div class="bg-text/5 p-1.5 rounded-md flex flex-col items-center">
      <span class="input-label mb-0 text-xs justify-center">Total</span>
      <div class="mt-0.5">
        <span class="text-base text-text/90">{{ info.trades|default:'0' }}</span>
      </div>
    </div>
    <div class="bg-text/5 p-1.5 rounded-md flex flex-col items-center">
      <span class="input-label mb-0 text-xs justify-center">Buy</span>
      <div class="mt-0.5">
        <span class="text-base text-text/90">{{ info.buy_trades|default:'0' }}</span>
      </div>
    </div>
    <div class="bg-text/5 p-1.5 rounded-md flex flex-col items-center">
      <span class="input-label mb-0 text-xs justify-center">Sell</span>
      <div class="mt-0.5">
        <span class="text-base text-text/90">{{ info.sell_trades|default:'0' }}</span>
      </div>
    </div>
  </div> {% endcomment %}

  {% comment %} <div class="grid grid-cols-2 gap-2 mt-2">
    <div class="bg-text/5 p-1.5 rounded-md flex flex-col items-center">
      <span class="input-label mb-0 text-xs justify-center">Win rate</span>
      <div class="mt-0.5">
        <span class="text-base text-profit/90">{{ info.win_rate|default:'0' }}%</span>
      </div>
    </div>
    <div class="bg-text/5 p-1.5 rounded-md flex flex-col items-center">
      <span class="input-label mb-0 text-xs justify-center">W/L</span>
      <div class="mt-0.5">
        <span class="text-base text-profit">{{ info.winning_trades|default:'0' }}</span>
        <span class="text-base text-text/80">/</span>
        <span class="text-base text-loss">{{ info.losing_trades|default:'0' }}</span>
      </div>
    </div>
    <div class="bg-text/5 p-1.5 rounded-md flex flex-col items-center">
      <span class="input-label mb-0 text-xs justify-center">Buy win rate</span>
      <div class="mt-0.5">
        <span class="text-base text-profit/90">{{ info.buy_win_rate|default:'0' }}%</span>
      </div>
    </div>
    <div class="bg-text/5 p-1.5 rounded-md flex flex-col items-center">
      <span class="input-label mb-0 text-xs justify-center">W/L</span>
      <div class="mt-0.5">
        <span class="text-base text-profit">{{ info.buy_winning_trades|default:'0' }}</span>
        <span class="text-base text-text/80">/</span>
        <span class="text-base text-loss">{{ info.buy_losing_trades|default:'0' }}</span>
      </div>
    </div>
    <div class="bg-text/5 p-1.5 rounded-md flex flex-col items-center">
      <span class="input-label mb-0 text-xs justify-center">Sell win rate</span>
      <div class="mt-0.5">
        <span class="text-base text-profit/90">{{ info.sell_win_rate|default:'0' }}%</span>
      </div>
    </div>
    <div class="bg-text/5 p-1.5 rounded-md flex flex-col items-center">
      <span class="input-label mb-0 text-xs justify-center">W/L</span>
      <div class="mt-0.5">
        <span class="text-base text-profit">{{ info.sell_winning_trades|default:'0' }}</span>
        <span class="text-base text-text/80">/</span>
        <span class="text-base text-loss">{{ info.sell_losing_trades|default:'0' }}</span>
      </div>
    </div>
  </div> {% endcomment %}

  <div class="mt-3 bg-text/5 p-1.5 rounded-md flex-1">
    <h6 class="text-xs text-text/80 uppercase font-medium">Profit by Currency</h6>
    <div class="mt-2 space-y-2 max-h-44 overflow-y-auto no-scrollbar">
      {% for currency, data in info.profit.items %}
        <div class="flex justify-between items-center bg-text/5 p-1 rounded-md">
          <span class="text-xs text-text/80">{{ currency }}</span>
          {% if data.net_profit >= 0 %}
            <span class="text-sm text-profit">+{{ data.net_profit|floatformat:8|trim_zeros }}</span>
          {% else %}
            <span class="text-sm text-loss">{{ data.net_profit|floatformat:8|trim_zeros }}</span>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% if url and form %}
  {% load custom_tags %}

  {% render_template 'include/dash/st_performance.html' loading=True id='as-'|add:form as st_performance %}

  {% include 'include/drawer_modal.html' with drawer_id='drawer-'|add:form body=st_performance side='bottom' class='h-[80vh] ' body_class='!h-[calc(100%-90px)] max-w-7xl mx-auto' href_title=href_title %}
{% endif %}
