{% for strategy in strategies reversed %}
  <div class="group transition-colors rounded-md bg-text/5 p-3 h-fit">
    <div class="flex items-center justify-between gap-2 h-fit">
      <div class="flex items-center gap-2 flex-1 min-w-0">
        <a href="{% url 'strategy' slug=strategy.slug %}" class="truncate text-text text-sm group-hover:text-text/80 hover:underline">{{ strategy.name }}</a>
      </div>

      <form class="" hx-post="{% url 'give_access' strategy.id %}?premium={{ premium }}" hx-target="#access-list-{{ premium }}">
        {% if strategy not in user_profile.strategies.all %}
          <button class="btn-text text-xs border-0 rounded-full whitespace-nowrap" type="submit" id="btn-acc-{{ strategy.id }}" onclick="openLoader('', '-acc-{{ strategy.id }}', 'inline-flex');">
            Grant access<svg class="h-3 w-3 ml-1" stroke="currentColor" fill="currentColor" stroke-width="1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 4c1.654 0 3 1.346 3 3h2c0-2.757-2.243-5-5-5S7 4.243 7 7v2H6c-1.103 0-2 .897-2 2v9c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-9c0-1.103-.897-2-2-2H9V7c0-1.654 1.346-3 3-3zm6.002 16H13v-2.278c.595-.347 1-.985 1-1.722 0-1.103-.897-2-2-2s-2 .897-2 2c0 .736.405 1.375 1 1.722V20H6v-9h12l.002 9z"></path>
            </svg>
          </button>
          <button id="spinner-acc-{{ strategy.id }}" disabled type="button" class="btn-text text-xs border-0 rounded-full whitespace-nowrap hidden">
            Grant access {% include 'svg/spinner.html' with class='ml-1 h-3' %}
          </button>
        {% else %}
          <button class="btn-text text-xs bg-profit/10 text-profit/90 border-0 rounded-full whitespace-nowrap" type="submit" id="btn-acc-{{ strategy.id }}" onclick="openLoader('', '-acc-{{ strategy.id }}', 'inline-flex');">
            Access granted<svg class="h-3 aspect-auto ml-1.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M3 12a9 9 0 0 1 9-9 9.75 9.75 0 0 1 6.74 2.74L21 8"></path>
              <path d="M21 3v5h-5"></path>
              <path d="M21 12a9 9 0 0 1-9 9 9.75 9.75 0 0 1-6.74-2.74L3 16"></path>
              <path d="M8 16H3v5"></path>
            </svg>
          </button>
          <button id="spinner-acc-{{ strategy.id }}" disabled type="button" class="btn-text text-xs bg-profit/10 text-profit/90 border-0 rounded-full whitespace-nowrap hidden">
            Access granted {% include 'svg/spinner.html' with class='ml-1 h-3' %}
          </button>
        {% endif %}

        {% csrf_token %}
      </form>
    </div>
    {% if error and error_id == strategy.id %}
      {% include 'include/errors.html' with error=error class='mt-2' %}
    {% endif %}
  </div>
{% empty %}
  <p class="text-text/60 text-sm">No strategies found.</p>
{% endfor %}
