{% load custom_tags %}

{% with main_id="page-main-div" get_started_id="home-get-started" %}


<script type="text/javascript">
    function toggleGetStarted(show=true) {
        if (show) {
            document.getElementById("{{get_started_id}}").classList.remove("hidden");
            document.getElementById("{{get_started_id}}").classList.add("flex");
        
            document.getElementById("{{main_id}}").classList.remove("flex");
            document.getElementById("{{main_id}}").classList.add("hidden");
            window.scrollTo({ top: 0 });
        } else {
            document.getElementById("{{main_id}}").classList.remove("hidden");
            document.getElementById("{{main_id}}").classList.add("flex");

            document.getElementById("{{get_started_id}}").classList.remove("flex");
            document.getElementById("{{get_started_id}}").classList.add("hidden");
        }
    }

    {% if show_get_started %}toggleGetStarted();{% endif %}
</script>

<main class="my-16 flex flex-col relative" >
    {% if congrate %}
    <div
      class="mb-4  max-w-xl mx-auto"
    >
      {% include "include/succes.html" with succes="You have successfully subscribed to our membership." %}
    </div>
    {%endif%} 

    {% if step <= 1 %}
        <button onclick="toggleGetStarted(false)" type="button" class="absolute -top-10 right-0 text-sm font-semibold text-text/60 hover:text-text/40 transition-colors">Skip for now</button>
    {% endif %}

    <div class="mx-auto">
      <ol class="items-center w-full space-y-4 sm:flex sm:space-x-8 sm:space-y-0">
        <li
          class="flex items-center {% if step == 1 %} text-secondary {% else %} text-text/60 {% endif %} space-x-2.5"
        >
          <span
            class="flex items-center justify-center w-8 h-8 border {% if step == 1 %} border-secondary {% else %} border-text/60 {% endif %} rounded-full shrink-0"
          >
            1
          </span>
          <span>
            <h3 class="font-medium leading-tight">Choose a plan</h3>
            <p class="text-sm">Choose your desire plan to <br />get started</p>
          </span>
        </li>
        <li
          class="flex items-center {% if step == 2 %} text-secondary {% else %} text-text/60 {% endif %} space-x-2.5"
        >
          <span
            class="flex items-center justify-center w-8 h-8 border {% if step == 2 %} border-secondary {% else %} border-text/60 {% endif %} rounded-full shrink-0"
          >
            2
          </span>
          <span>
            <h3 class="font-medium leading-tight">Set your username</h3>
            <p class="text-sm">Set your trading view username</p>
          </span>
        </li>
        <li
          class="flex items-center {% if step == 3 %} text-secondary {% else %} text-text/60 {% endif %} space-x-2.5"
        >
          <span
            class="flex items-center justify-center w-8 h-8 border {% if step == 3 %} border-secondary {% else %} border-text/60 {% endif %} rounded-full shrink-0"
          >
            3
          </span>
          <span>
            <h3 class="font-medium leading-tight">You're ready</h3>
            <p class="text-sm">
              All done, visit trading view and<br />
              start using our systems.
            </p>
          </span>
        </li>
      </ol>
    </div>
  
    {%if step == 1%}
    <section class="mt-14 text-center">
  
      {% comment %} <h2 class="text-text text-sm font-semibold text-center mt-2 tracking-wider">
        Start today with <div class="relative inline-block text-title text-base ">3 day trial
        <div class="absolute top-[90%] w-full">
            <svg class="w-full scale-125 rotate-6 stroke-secondary" height="18" viewBox="0 0 103 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.85161 15.21C8.91183 12.5794 16.2972 11.5802 22.6641 10.1433C39.4496 6.35525 56.2817 3.74063 73.4989 3.21717C82.6093 2.94019 91.7767 2.81569 100.889 2.80055" stroke-width="4.5" stroke-linecap="round"/>
            </svg>
        </div>
        </div>
      </h2> {% endcomment %}
      <h4 class="text-text">Select one of our plans to get started.</h4>
  
      {% if prices|get_item:"LIFETIME" %}
  
      <div class="text-left mt-6 w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 items-center justify-center gap-8">
        {% include "include/price_item.html" with title="MONTHLY" get_started="true" %}
        {% include "include/price_item.html" with title="QUARTERLY" save="Save $39" get_started="true" %}
        {% include "include/price_item.html" with title="YEARLY" save="Save $197" get_started="true" %}
        {% include "include/price_item.html" with title="LIFETIME" save="Pay once" get_started="true" %}
      </div>
  
  
      <div class="text-left max-w-3xl mx-auto mt-16">
        {% include "include/infos.html" with info="<span class='font-semibold'>LIFETIME membership</span> is designed to support our company's efforts in improving and developing more trading strategies. Lifetime members will receive priority access to our beta strategies. <br/>LIFETIME membership can expire and may no longer be available at any time." %}
      </div>
  
      {% else %}
  
      <div class="text-left mt-6 w-full flex flex-col md:flex-row items-center justify-center gap-8">
        {% include "include/price_item.html" with title="MONTHLY" get_started="true" %}
        {% include "include/price_item.html" with title="QUARTERLY" save="Save $39" get_started="true" %}
        {% include "include/price_item.html" with title="YEARLY" save="Save $197" get_started="true" %}
      </div>
  
      {% endif %}
    </section>
    {% elif step == 2 %}
  
    <section class="mt-14">
      <p class="text-text text-center text-sm mt-2">
        Go to your  
        <a
          class="text-title font-medium underline"
          href="https://www.tradingview.com/?aff_id=134591&aff_sub=134591&source=134591"
          target="_blank"
          >TradingView</a
        >
        profile to copy your username and paste it inside the field. <br/>The video below demonstrates where you can find your TradingView username.
      </p>
      <div class="mt-6 w-full flex flex-col sm:flex-row items-center justify-center gap-8">
        <form hx-post="{% url 'update-tradingview-username' %}" class="mb-2 pt-3 max-w-sm w-72">
          {% csrf_token %}
  
          {% load custom_tags %}
          {% render_template "include/docs/find_username.html" as info_content %}
  
          {% include "include/drawer_modal.html" with drawer_id="drawer-tv-help" title="Tradingview username" body=info_content %}
  
  
  <label
  for="email"
  class="!flex items-center justify-between input-label"
  ><span>Tradingview username</span> <button onclick="openDrawer('drawer-tv-help')" type="button" ><svg class="text-text hover:text-title h-[1.1rem] aspect-square transition-all" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"><path d="M12 6a3.939 3.939 0 0 0-3.934 3.934h2C10.066 8.867 10.934 8 12 8s1.934.867 1.934 1.934c0 .598-.481 1.032-1.216 1.626a9.208 9.208 0 0 0-.691.599c-.998.997-1.027 2.056-1.027 2.174V15h2l-.001-.633c.001-.016.033-.386.441-.793.15-.15.339-.3.535-.458.779-.631 1.958-1.584 1.958-3.182A3.937 3.937 0 0 0 12 6zm-1 10h2v2h-2z"></path><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path></svg></button></label
  >
          <div class="relative mb-4 w-full">
            <div
              class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5 text-text/40"
                fill="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8 12.052c1.995 0 3.5-1.505 3.5-3.5s-1.505-3.5-3.5-3.5-3.5 1.505-3.5 3.5 1.505 3.5 3.5 3.5zM9 13H7c-2.757 0-5 2.243-5 5v1h12v-1c0-2.757-2.243-5-5-5zm11.294-4.708-4.3 4.292-1.292-1.292-1.414 1.414 2.706 2.704 5.712-5.702z"
                ></path>
              </svg>
            </div>
            <input
            type="text"
            name="tradingview_username"
            id=""
            value='{{user_profile.tradingview_username}}'
            class="w-full   block pl-10 p-2.5 input-text"
            placeholder="UserName"
            />
          </div>
          
          <div class="mt-1 mb-3" id="tradingview_username_submit_error"> {% include "include/errors.html" %} </div>
          <button
            id="btn-tv"
            onclick="openLoader('', '-tv', 'flex');"
            type="submit"
            class=" max-w-full w-full mx-auto btn-secondary inline-flex"
          >
            Next
            <svg class="h-3 w-4 ml-1" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="m268 112 144 144-144 144m124-144H100"></path></svg>
          </button>
          <button
          id="spinner-tv"
          disabled
          type="button"
          class=" hidden w-full btn-secondary items-center"
        >
        Next
          <svg
            aria-hidden="true"
            role="status"
            class=" w-4 h-4 ml-1 text-inherit animate-spin"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="#E5E7EB"
            />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentColor"
            />
          </svg>
        </button>
        </form>
        <div class="max-w-xl">
          <video
          class="aspect-video w-full mr-auto my-3 rounded max-w-2xl"
          muted=""
          controls="controls"
          >
          <source
            src="https://isalgotest.s3.amazonaws.com/docs/copy_username.mp4"
            type="video/mp4"
          />
        </video>
          <!-- <img
            class="rounded-xl"
            src="https://firebasestorage.googleapis.com/v0/b/automated-trader-fd733.appspot.com/o/files%2Fvideos%2Ftrading_view_user_name_find.gif?alt=media&token=7f7475ea-879b-454f-b251-38ab1e9a9ddb"
          /> -->
        </div>
  
      </div>
    </section>
    {% elif step == 3 %}
    <section class="mt-16 text-center">
      <h4 class="text-title">You're ready to go.</h4>
      <p class="text-text text-sm text-center mt-2">
          Go to your
          <a
            class="text-title font-semibold underline"
            href="https://tradingview.com?aff_id=134591&aff_sub=134591&source=134591"
            target="_blank"
            >TradingView</a
          >
          chart and you will find all of our systems <br />
          under the invite only scripts.
        </p>
  
        <div class="max-w-xl mt-6 mx-auto">
          <video
          class="aspect-video w-full mr-auto my-3 rounded max-w-2xl"
          muted=""
          controls="controls"
        >
          <source
            src="https://isalgotest.s3.amazonaws.com/docs/find_strategies.mp4"
            type="video/mp4"
          />
        </video>
          <!-- <img
            class="rounded-xl"
            src="https://firebasestorage.googleapis.com/v0/b/automated-trader-fd733.appspot.com/o/files%2Fvideos%2Ftrading_view_find_invite_scipts.gif?alt=media&token=c6cf5732-7fdd-40c0-b56b-09724af58ce4" /> -->
        </div>
        <p class="text-text text-sm text-center mt-6">
          If you encounter any issues, please refer to our <a
          class="text-title font-medium underline"
          href="{% url 'docs_index' %}"
          >documentation</a
        > for a step-by-step guide.</p>
        <button
            onclick="location.reload();"
            class=" px-6 mx-auto btn-secondary inline-flex mt-6"
        >
            All done
            <svg class="h-4 w-4 ml-1" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M9 16.2 4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"></path></svg>
        </button>
    </section>
  
    {%endif%} 
    {%if congrate %} {%include "include/congrate.html" %} {%endif %}
  </main>
  {% endwith %}