<section class="{{ class }} mt-14">
  <p class="text-text text-center text-sm mt-2">
    Go to your
    <a class="text-title font-medium underline" href="https://www.tradingview.com/?aff_id=134591&aff_sub=134591&source=134591" target="_blank">TradingView</a>
    profile to copy your username and paste it inside the field. <br />The video below demonstrates where you can find your TradingView username.
  </p>
  <div class="mt-6 w-full flex flex-col sm:flex-row items-center justify-center gap-6 sm:gap-12">
    <form hx-post="{% url 'update-tradingview-username' %}" class="mb-2 pt-3 max-w-sm w-72">
      {% csrf_token %}

      {% load custom_tags %}
      {% render_template 'include/docs/find_username.html' as info_content %}

      {% include 'include/drawer_modal.html' with drawer_id='drawer-tv-help' title='Tradingview username' body=info_content %}

      <label for="email" class="!flex items-center justify-between input-label">
        <span>Tradingview username</span>
        <button onclick="openDrawer('drawer-tv-help')" type="button">
          <svg class="text-text hover:text-text/80 h-4 aspect-square transition-all" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info-icon lucide-info">
            <circle cx="12" cy="12" r="10" />
            <path d="M12 16v-4" />
            <path d="M12 8h.01" />
          </svg>
        </button>
      </label>
      <div class="relative mb-4 w-full">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg aria-hidden="true" class="w-5 h-5 text-text/40" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 12.052c1.995 0 3.5-1.505 3.5-3.5s-1.505-3.5-3.5-3.5-3.5 1.505-3.5 3.5 1.505 3.5 3.5 3.5zM9 13H7c-2.757 0-5 2.243-5 5v1h12v-1c0-2.757-2.243-5-5-5zm11.294-4.708-4.3 4.292-1.292-1.292-1.414 1.414 2.706 2.704 5.712-5.702z"></path>
          </svg>
        </div>
        <input type="text" name="tradingview_username" id="" value="{{ user_profile.tradingview_username }}" class="w-full block pl-10 p-2.5 input-text" placeholder="UserName" />
      </div>

      <div class="mt-1 mb-3" id="tradingview_username_submit_error">
        {% include 'include/errors.html' %}
      </div>
      <button id="btn-tv" onclick="openLoader('', '-tv', 'flex');" type="submit" class="max-w-full w-full mx-auto btn-secondary inline-flex">
        Next<svg class="h-3 w-4 ml-1" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
          <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="m268 112 144 144-144 144m124-144H100"></path>
        </svg>
      </button>
      <button id="spinner-tv" disabled type="button" class="hidden w-full btn-secondary items-center">
        Next<svg aria-hidden="true" role="status" class="w-4 h-4 ml-1 text-inherit animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB" />
          <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor" />
        </svg>
      </button>
    </form>
    <div class="max-w-full">
      <video class="aspect-auto w-full mr-auto my-3 rounded max-w-xl" muted="" controls="controls">
        <source src="https://isalgotest.s3.amazonaws.com/docs/copy_username.mp4" type="video/mp4" />
      </video>
      <!--  <img
              class="rounded-xl"
              src="https://firebasestorage.googleapis.com/v0/b/automated-trader-fd733.appspot.com/o/files%2Fvideos%2Ftrading_view_user_name_find.gif?alt=media&token=7f7475ea-879b-454f-b251-38ab1e9a9ddb"
            />  -->
    </div>
  </div>
</section>
