{% if price %}
<div
  id="alert-{{close}}"
  class="mx-auto text-sm flex p-4 text-text bg-text/10  rounded {{class}}"
  role="alert"
>
  <svg
    class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 20 20"
  >
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
    />
  </svg>
  <span class="sr-only">info!</span>
  <div>
    <p>
      You will be charged ${{price}} {% if staertime %}
      <br />
      The payment is scheduled for {{staertime|date:"F j, Y" }}
      {% else %}
      upon clicking the "Subscribe" button.{% endif %}
    </p>
  </div>
</div>
{% endif %}

<input
  type="text"
  name="check"
  id="stripe-check-{{title}}"
  class="hidden"
  value="{{check|default:'true'}}"
/>
