{% load custom_tags %}
{% load i18n %}

{% with amount=user_profile.amount_to_pay|floatformat:1 stripe_element_id='pay_remaining_amount' modal_id='staticmodal-pay_remaining_amount' %}
  {% trans 'You have an $' as remaining_prefix %}
  {% trans 'remaining balance.' as remaining_suffix %}
  {% trans 'Click here to pay' as click_to_pay %}
  {% with warning_text=remaining_prefix|add:amount|add:' '|add:remaining_suffix|add:' <button onclick="openModel(&quot;'|add:modal_id|add:'&quot;); mountStripeElement(&quot;'|add:stripe_element_id|add:'&quot;)" class=" font-semibold">'|add:click_to_pay|add:'</button>.' %}
    {% include 'include/warnings.html' with class='my-2 w-full' warning=warning_text %}
  {% endwith %}

  {% render_template 'include/pay_form_stripe.html' current_subscription=vip_subscription base_price=amount final_price=amount get_started=get_started title=stripe_element_id remaining_balance=amount as pay_form_stripe %}
  {% with formatted_title=strategy.name|lower|capfirst %}
    {% trans 'Pay remaining amount' as pay_remaining_label %}
    {% with header_html="<h3 class='text-xl font-bold text-title capitalize'>"|add:pay_remaining_label|add:'</h3>' %}
      {% include 'include/modal.html' with modal_id=modal_id header=header_html body=pay_form_stripe stripe_element_id=stripe_element_id body_class='px-2 mt-3' %}
    {% endwith %}
  {% endwith %}
{% endwith %}
