{% if not has_subscription %}
  <div class="mb-4">
    <h6 class="text-text/80 text-sm font-medium">
        You’re a few click away from gaining access to our expert trading strategies, premium access, and much more.
    </h6>
    {% if free_trial_days and free_trial_days|add:'0' > 0 and title != "LIFETIME" and not user_profile.subscription_id %}
      <h6 class="mt-1.5 text-title bg-title/20 rounded-lg px-2 py-1 inline-block text-xs font-medium">First {{ free_trial_days }} days free</h6>
    {% endif %}
  </div>
{% endif %}

<form hx-post="{% url 'membership-coupon' %}?plan={{ title }}" class="relative" id="coupon-pay-{{ title }}-form">
    {% csrf_token %}
    {% include 'include/pay_form_coupon.html' %}
</form>

<form
  {% if user_profile.subscription_id and subscription_status != 'canceled' %}
    hx-post="{% url 'membership-update' %}?plan={{ title }}&get_started={{ get_started }}"
  {% else %}
    hx-post="{% url 'membership-create' %}?plan={{ title }}&get_started={{ get_started }}"
  {% endif %}
  class="relative"
  id="form-pay-{{ title }}"
>
  {% csrf_token %}

  {% comment %} <div class="mb-4">{% include 'include/infos.html' with info="Add or select your payment method. We accept Visa, Mastercard, American Express, Discover, JCB, Diners Club, China UnionPay, and debit cards." %}</div> {% endcomment %}


  {% include "include/pay_form_stripe_element.html" %}

<div id="have-coupon-{{title}}" class=" w-full flex"><button type="button" onclick="changeHidden('coupon-input-{{title}}', 'have-coupon-{{title}}')" class="btn-icon ml-auto px-0">Have a coupon?</button></div>

  <input type="text" name="pm_id" id="pm-{{title}}" class="hidden" value="{{stripe_customer.invoice_settings.default_payment_method}}" />
  <input type="text" name="coupon" id="stripe-pay-coupon-{{title}}" class="hidden" value="" />

  <div class="mb-0 mt-3" id="stripe-next-{{title}}">

    {% include 'include/pay_next.html' with id="info-pay-submit-{{title}}" %}
  </div>

  <div class="mb-3 mt-3" id="stripe-error-{{title}}">
    {% include 'include/errors.html' with error=error id="error-pay-submit-{{title}}" %}
  </div>

  <div class="w-full pt-3">
    <button
      type="button"
      onclick="onPayFormStripeElementSubmit('{{title}}')"
      id="btn-pay-submit-{{title}}"
      class="btn-accent block w-full max-w-full mx-auto font-semibold text-center"
    >
      <div id="submit-btn-sub-{{title}}" class="flex items-center justify-center w-full">
        Subscribe
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0.5"
          version="1.1"
          viewBox="0 0 16 16"
          class="h-4 w-4 ml-1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zM8 1.5c3.59 0 6.5 2.91 6.5 6.5s-2.91 6.5-6.5 6.5-6.5-2.91-6.5-6.5 2.91-6.5 6.5-6.5zM8 9.356c1.812 0 3.535-0.481 5-1.327-0.228 2.788-2.393 4.971-5 4.971s-4.772-2.186-5-4.973c1.465 0.845 3.188 1.329 5 1.329zM4 5.5c0-0.828 0.448-1.5 1-1.5s1 0.672 1 1.5c0 0.828-0.448 1.5-1 1.5s-1-0.672-1-1.5zM10 5.5c0-0.828 0.448-1.5 1-1.5s1 0.672 1 1.5c0 0.828-0.448 1.5-1 1.5s-1-0.672-1-1.5z"
          ></path>
        </svg>
      </div>
      {% comment %} <div id="submit-btn-next-{{title}}" class=" items-center justify-center w-full flex">
        Next
        <svg class="h-3 w-4 ml-1" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="m268 112 144 144-144 144m124-144H100"></path></svg>
      </div> {% endcomment %}
    </button>

    <button
      id="spinner-pay-submit-{{title}}"
      disabled
      type="button"
      class="hidden btn-accent w-full mx-auto"
    >
      Loading 
      <svg
        aria-hidden="true"
        role="status"
        class="inline w-4 h-4 ml-1 text-title dark:text-background animate-spin"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          class="fill-text dark:fill-background/60"
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentColor"
        />
      </svg>
    </button>
  </div>
</form>
