{% extends 'auth/auth_page.html' %} {% block page %}
  <main class="my-auto mx-auto max-w-[100%] md:max-w-xl w-[27rem]">
    <div class="text-title text-xl">
      <h3 class="text-center">Enter new password</h3>
      <h6 class="text-center text-sm">Please enter your new password twice so we can verify <br />you typed it in correctly.</h6>
    </div>

    <div class="mt-8">
      <form method="post">
        {% csrf_token %}
        <label for="{{ form.new_password1.id_for_label }}" class="input-label">New password</label>
        <div class="relative mb-2">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-text/60" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M20 12c0-1.103-.897-2-2-2h-1V7c0-2.757-2.243-5-5-5S7 4.243 7 7v3H6c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-8zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v3H9V7z"></path>
            </svg>
          </div>
          <input name="{{ form.new_password1.html_name }}" type="password" id="{{ form.new_password1.id_for_label }}" class="input-text pl-10 w-full" placeholder="****************" />
        </div>
        <label for="{{ form.new_password2.id_for_label }}" class="input-label">Confirm password</label>
        <div class="relative mb-2">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-text/60" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M20 12c0-1.103-.897-2-2-2h-1V7c0-2.757-2.243-5-5-5S7 4.243 7 7v3H6c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-8zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v3H9V7z"></path>
            </svg>
          </div>
          <input name="{{ form.new_password2.html_name }}" type="password" id="{{ form.new_password2.id_for_label }}" class="input-text pl-10 w-full" placeholder="****************" />
        </div>

        {% include './errors.html' %}

        <button id="btn-reset-pass" onclick="openLoader('', '-reset-pass', 'flex');" type="submit" class="btn-primary mt-4 mb-2 w-full">Change password</button>

        <button id="spinner-reset-pass" type="button" disabled class="btn-primary mt-4 mb-2 w-full hidden">Changing password{% include 'svg/spinner.html' with class='ml-1.5 h-4' %}</button>
      </form>
    </div>
  </main>
{% endblock %}
