{% extends 'page.html' %} {% block page %} 
<div class="absolute top-[-12rem] h-96 w-96 bg-primary/50  blur-[80px] rounded-full"></div>
<div class="absolute right-[-15rem] h-[30rem] w-[30rem] bg-secondary/50  blur-[80px] rounded-full"></div>
<main class="mx-8 ">
  <div class="relative flex flex-col">
    <h2 class="text-title text-5xl font-extrabold text-center mt-16 leading-[4rem]">
      Elevate your trading prowess with our advanced <span class="bg-yellow-200 dark:text-background">trading strategies</span> 
    </h2>
    <h2 class="text-text text-xl font-extrabold text-center mt-8">
      We offer top-notch backtestable trading strategies that are optimized for the  <span class="bg-accent dark:text-background">TradingView platform</span>
    </h2>
   
    <h2 class="text-text text-xl font-bold text-center mt-0">
      Experience the power yourself
    </h2>
  </div>
  <div class="flex flex-col w-full mt-4">
    <a
      href="{% url 'register' %}"
      class="btn-primary-landing"
      >Join us</a
    >
  </div>

  <div class="mx-auto w-full h-96 mt-12">
    <lottie-player
      class="h-full w-full"
      src="https://assets1.lottiefiles.com/packages/lf20_rMIWDc0fSB.json"
      background="transparent"
      speed="1"
      loop
      autoplay
    ></lottie-player>
  </div>
</main>

<section class="mx-auto w-full my-8">
  <h2 class="text-title text-3xl font-bold text-center mt-12">Why choising</h2>
  <h2
    class="text-7xl mt-1 font-extrabold uppercase text-center bg-clip-text bg-gradient-to-tl to-primary from-secondary text-transparent"
  >
    ISalgo
  </h2>

  <div class="mt-8 flex flex-col">
    {% include "include/section2.html" with class="" color="secondary" h1="Our products deliver exceptional value, efficiency, and security for our customers" h2="Experience high-quality, efficient, and secure solutions with our product offerings" lottie_src="https://assets3.lottiefiles.com/packages/lf20_bqUlAq.json" %}
    {% include "include/section2.html" with class="ml-auto" color="primary" h1="Discover backtestable strategies that empower you to visualize and optimize your trading approach for optimal outcomes" h2="Unveil backtestable strategies enabling you to analyze and fine-tune your trading tactics for superior results" lottie_src="https://assets8.lottiefiles.com/packages/lf20_fUq9u8VGIo.json" %}
    {% include "include/section2.html" with class="" color="secondary" h1="Tailor the settings to align perfectly with your unique trading style" h2="Customize the parameters to suit your individual trading preferences and approach" lottie_src="https://assets9.lottiefiles.com/packages/lf20_wcmbykjs.json" %}
    {% include "include/section2.html" with class="ml-auto" color="primary" h1="We rigorously test all our strategies to ensure maximum profitability and success" h2="Rest assured, each strategy undergoes thorough testing and optimization to deliver superior profit potential and performance" lottie_src="https://assets10.lottiefiles.com/packages/lf20_b7gcjqhx.json" %}
  </div>
</section>

<section class="mx-auto w-full mt-24 mb-10">
  <h2 class="text-title text-3xl font-bold text-center mt-12">
    How to get started
  </h2>

  <div class="w-full mt-14 relative">
    <ul class="relative mx-auto text-text max-w-4xl w-10/12 p-6" id="get-start-list">
      {% include "include/section3.html" with no="1" text="Join us today to sign up and create your account hassle-free" %}
      {% include "include/section3.html" with no="2" text="Select the ideal plan that suits your specific needs and trading goals" %}
      {% include "include/section3.html" with no="3" text="Share your TradingView username with us, and we'll ensure you get full access to our comprehensive suite of products" %}
      {% include "include/section3.html" with no="4" text="You are all set and good to go! You're now fully prepared to embark on your trading journey with confidence and ease. Happy trading!" %}
      
    <!-- <div class="absolute p-1 blur-lg bg-primary rounded-full top-0 left-[50%] translate-x-[50%] h-full -z-10" ></div> -->
    <div class="absolute p-1 blur-xl bg-title rounded-full top-0 left-[0%] translate-x-[50%] h-full -z-10" ></div>
    <div class="absolute p-1 blur-xl bg-title rounded-full top-0 right-[0%] translate-x-[50%] h-full -z-10" ></div>
    <div class="absolute p-1 blur-xl bg-title rounded-full top-0 left-[-50%] translate-x-[50%] w-full -z-10" ></div>
    <div class="absolute p-1 blur-xl bg-title rounded-full bottom-0 left-[-50%] translate-x-[50%] w-full -z-10" ></div>
    </ul>

  </div>

</section>

<section class="mx-auto w-full mt-24 mb-10">
  <h2 class="text-text text-3xl font-bold text-center mt-12">
    Check out some of our strategies
  </h2>

  <div
    class="slider cursor-pointer relative overflow-hidden mt-12 w-full h-[26rem] rounded-xl"
  >
    <div
      class="cards pointer-events-none flex gap-6 absolute top-0 left-0 bottom-0 overflow-x-scroll"
    >

    {% include "include/st_samples.html" with title="title" img_url="" content="" %}
    {% include "include/st_samples.html" %}
    {% include "include/st_samples.html" %}
    {% include "include/st_samples.html" %}
    

      <div class="w-[30rem] p-4 rounded-xl h-full flex flex-col">
        <h3
          class="text-center text-title text-xl font-bold my-auto items-center justify-center"
        >
          Discover more
        </h3>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    const slider = document.querySelector(".slider");
    const cards = document.querySelector(".cards");
    let isPressed = false;
    let cursorX;

    slider.addEventListener("mousedown", (e) => {
      isPressed = true;
      cursorX = e.offsetX - cards.offsetLeft;
    });
    slider.addEventListener("mousemove", (e) => {
      if (!isPressed) return;
      e.preventDefault();
      cards.style.left = `${e.offsetX - cursorX}px`;
      boundSlides();
    });
    window.addEventListener("mouseup", () => {
      isPressed = false;
    });
    function boundSlides() {
      const containerRect = slider.getBoundingClientRect();
      const cardsRect = cards.getBoundingClientRect();

      if (parseInt(cards.style.left) > 0) {
        cards.style.left = 0;
      } else if (cardsRect.right < containerRect.right) {
        cards.style.left = `-${cardsRect.width - containerRect.width}px`;
      }
    }
  </script>
</section>

<section class="mx-auto w-full mt-24 mb-24">
  <h2 class="text-title text-3xl font-bold text-center mt-8">
    <span class="bg-accent dark:text-background">Let's begin your trading journey</span>
  </h2>
  <h2 class="text-text text-3xl font-bold text-center mt-2">
    <span class="bg-secondary dark:text-background">Choose your plan</span>
  </h2>

  <div class="mt-14 w-full flex flex-col md:flex-row items-center justify-center gap-8">
    {% include "include/price_item.html" with title="MONTHLY" price="99" %}
    {% include "include/price_item.html" with title="QUARTERLY" price="345" %}
    {% include "include/price_item.html" with title="YEARLY" price="898" %}
</div>
</section>

{% endblock page %}
