{% extends 'unfold/layouts/base.html' %}

{% load admin_urls i18n unfold %}

{% block breadcrumbs %}
  {% if not is_popup %}
    <div class="px-4 lg:px-8">
      <div class="container mb-6 mx-auto -my-3 lg:mb-12">
        <ul class="flex flex-wrap">
          {% url 'admin:index' as link %}
          {% trans 'Home' as name %}
          {% include 'unfold/helpers/breadcrumb_item.html' with link=link name=name %}

          {% url 'admin:formula_driver_changelist' as link %}

          {% trans 'Send email' as name %}
          {% include 'unfold/helpers/breadcrumb_item.html' with name=name %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% tab_list 'drivers' %}

  <div class="px-4 lg:px-8">
    <div class="container mb-6 mx-auto -my-3 lg:mb-12">
      <form method="post" id="send_email_form" novalidate>
        {% if messages %}
          <div class="mb-4 px-3">
            {% for message in messages %}
              {% if 'error' in message.tags %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-2" role="alert">{{ message }}</div>
              {% elif 'success' in message.tags %}
                <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded mb-2" role="status">{{ message }}</div>
              {% else %}
                <div class="bg-gray-100 border border-gray-300 text-gray-700 px-4 py-3 rounded mb-2" role="alert">{{ message }}</div>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}

        <div class="group/row field-row form-row">
          {% csrf_token %}
          <div class="field-recipient_type field-line flex-col group/line py-2.5 flex-grow flex px-3">
            <div class="">
              <label class="block font-semibold mb-2 text-font-important-light text-sm dark:text-font-important-dark required" for="recipient_type">Send to:</label>
            </div>
            <div class="flex-grow">
              <div class="flex-col items-center w-full">
                <select name="recipient_type" id="recipient_type" class="border border-base-200 bg-white font-medium placeholder-base-400 rounded shadow-sm text-font-default-light text-sm focus:ring focus:ring-primary-300 focus:border-primary-600 focus:outline-none dark:bg-base-900 dark:border-base-700 dark:text-font-default-dark dark:focus:ring-primary-700 dark:focus:border-primary-600 dark:focus:ring-opacity-50 px-3 py-2 w-full max-w-2xl">
                  <option value="all">All users</option>
                  <option value="lifetime">Lifetime users</option>
                  <option value="non_lifetime">Non-lifetime users</option>
                  <option value="subscribers">Subscriber users</option>
                  <option value="non_subscribers">Non-Subscriber users</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="group/row field-row form-row">
          <div class="field-subject field-line flex-col group/line py-2.5 flex-grow flex px-3">
            <div class="">
              <label class="block font-semibold mb-2 text-font-important-light text-sm dark:text-font-important-dark required" for="header">Header:</label>
            </div>
            <div class="flex-grow">
              <div class="flex-col items-center w-full">
                <input required type="text" name="header" id="header" size="80" value="" class="border border-base-200 bg-white font-medium placeholder-base-400 rounded shadow-sm text-font-default-light text-sm focus:ring focus:ring-primary-300 focus:border-primary-600 focus:outline-none dark:bg-base-900 dark:border-base-700 dark:text-font-default-dark dark:focus:ring-primary-700 dark:focus:border-primary-600 dark:focus:ring-opacity-50 px-3 py-2 w-full max-w-2xl" required />
              </div>
            </div>
          </div>
        </div>

        <div class="group/row field-row form-row">
          <div class="field-subject field-line flex-col group/line py-2.5 flex-grow flex px-3">
            <div class="">
              <label class="block font-semibold mb-2 text-font-important-light text-sm dark:text-font-important-dark required" for="subject">Subject:</label>
            </div>
            <div class="flex-grow">
              <div class="flex-col items-center w-full">
                <input required type="text" name="subject" id="subject" size="80" value="" class="border border-base-200 bg-white font-medium placeholder-base-400 rounded shadow-sm text-font-default-light text-sm focus:ring focus:ring-primary-300 focus:border-primary-600 focus:outline-none dark:bg-base-900 dark:border-base-700 dark:text-font-default-dark dark:focus:ring-primary-700 dark:focus:border-primary-600 dark:focus:ring-opacity-50 px-3 py-2 w-full max-w-2xl" required />
              </div>
            </div>
          </div>
        </div>

        <div class="group/row field-row form-row">
          <div class="field-html_content field-line flex-col group/line py-2.5 flex-grow flex px-3">
            <div class="">
              <label class="block font-semibold mb-2 text-font-important-light text-sm dark:text-font-important-dark" for="html_content">HTML Content:</label>
            </div>
            <div class="flex-grow">
              <div class="flex-col items-center w-full">
                <textarea required name="html_content" id="html_content" rows="20" class="border border-base-200 bg-white font-medium placeholder-base-400 rounded shadow-sm text-font-default-light text-sm focus:ring focus:ring-primary-300 focus:border-primary-600 focus:outline-none dark:bg-base-900 dark:border-base-700 dark:text-font-default-dark dark:focus:ring-primary-700 dark:focus:border-primary-600 dark:focus:ring-opacity-50 px-3 py-2 w-full expandable transition transition-height duration-75 ease-in-out"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div id="submit-row" class="relative lg:mt-16 z-20">
          <div class="w-full lg:bottom-0 lg:fixed lg:left-0 lg:right-0 xl:left-0">
            <div class="flex flex-col-reverse gap-3 items-center lg:flex-row backdrop-blur-sm bg-white/80 pb-4 dark:bg-base-900/80 lg:border-t lg:border-base-200 lg:py-4 relative lg:scrollable-top lg:px-8 dark:border-base-800">
              <button type="button" id="view_html" class="ml-auto border border-base-200 font-medium px-3 py-2 rounded text-font-default-light bg-white hover:bg-base-50 w-full lg:w-auto dark:border-base-700 dark:bg-base-900 dark:text-font-default-dark dark:hover:bg-base-800">View</button>
              <button type="submit" class="bg-primary-600 block border border-transparent font-medium px-3 py-2 rounded text-white w-full lg:w-auto">Send</button>
            </div>
          </div>
        </div>
      </form>
      <script>
        document.getElementById('view_html').addEventListener('click', function () {
          var previewWindow = window.open('', '_blank')
          var content = document.getElementById('html_content').value
          previewWindow.document.write(content)
          previewWindow.document.close()
        })
      </script>
    </div>
  </div>
{% endblock %}
