{% extends 'page.html' %} {% load static %} 

{% block head_title %}
<title>Your Ideas Matter: Help Us Enhance Our Trading Strategies | IsAlgo</title>
{% endblock head_title %}

{% block head_description %}
<meta name="description" content="Share your insights and contribute to the evolution of our trading strategies. Your perspective is invaluable in our quest to offer the most effective and versatile trading solutions.">
{% endblock head_description %}

{% block page %}

{% if has_subscription or ideas|length < 6 %}
<h1 class="mt-8 text-left text-3xl sm:text-6xl text-title font-extrabold">Ideas</h1>
{% else %}
<h1 class="mt-8 text-center text-3xl sm:text-6xl text-title font-extrabold">We would like to hear </br> <span class="bg-clip-text bg-gradient-to-tl to-primary from-secondary text-transparent">from you<span></h1>
{% endif %}

<main class="mt-8 mb-16">
  <section class="grid xl:grid-cols-4 md:grid-cols-3 grid-cols-2 gap-4">
    {% for idea in ideas %}
    <div class="w-full mb-3 p-2">
      {% include "include/comment_comment_page.html" with comment=idea %}
    </div>
    {% empty %}
    <p class="text-text text-sm">No ideas availble yet.</p>
    {% endfor %}
  </section>
</main>

{% endblock page %}
