{% extends 'page.html' %} {% load static %} {% block page %}

<div class="mt-8 flex justify-between">
  <a class=" hover:underline " target="_blank" href="{{ strategy.tradingview_url }}">
    <h1 class="text-left text-2xl flex items-center text-title font-bold  hover:underline">
      {% if strategy.is_live == False %}
      <span class="btn-accent mr-2 font-semibold font-sans rounded-full py-0.5 text-xs">BETA</span>
      {% endif %}
      {{ strategy.name }}
      <svg class="h-4 w-r ml-2 " stroke="currentColor" fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path></svg>
    </h1>
  </a>
  {% if not subscription %}
  <a
    href="{% url 'membership' %}"
    class="btn-accent font-semibold whitespace-nowrap"
    >Unlock access
    <svg
      class="h-4 w-r ml-1"
      stroke="currentColor"
      fill="currentColor"
      stroke-width="1"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M12 4c1.654 0 3 1.346 3 3h2c0-2.757-2.243-5-5-5S7 4.243 7 7v2H6c-1.103 0-2 .897-2 2v9c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-9c0-1.103-.897-2-2-2H9V7c0-1.654 1.346-3 3-3zm6.002 16H13v-2.278c.595-.347 1-.985 1-1.722 0-1.103-.897-2-2-2s-2 .897-2 2c0 .736.405 1.375 1 1.722V20H6v-9h12l.002 9z"
      ></path>
    </svg>
  </a>
  {% endif %}
</div>


<main class=" mb-16 md:flex block justify-between">
  <section class="w-full sm:w-8/12">
    <div class="mt-2 mb-8">
      <a
        href="#"
        onClick="openPopupWindow('{{strategy.chart_url}}')"
        class="btn-text font-semibold whitespace-nowrap"
        >Live chart
        <svg
          class="h-4 w-r ml-1"
          stroke="currentColor"
          fill="currentColor"
          stroke-width="1"
          viewBox="0 0 512 512"
          xmlns="http://www.w3.org/2000/svg"
        >
        <path d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zM188.3 147.1c-7.6 4.2-12.3 12.3-12.3 20.9V344c0 8.7 4.7 16.7 12.3 20.9s16.8 4.1 24.3-.5l144-88c7.1-4.4 11.5-12.1 11.5-20.5s-4.4-16.1-11.5-20.5l-144-88c-7.4-4.5-16.7-4.7-24.3-.5z"></path>
        </svg>
      </a>
    </div>
    <div class="">
      {% if strategy.image %}
          <img src="{{ strategy.image_url }}" alt="Strategy Image" class="max-w-full max-h-72 mx-auto">
      {% else %}
          <img src="{% static 'images/chart_nobg.png' %}" alt="Default Image" class="max-w-full max-h-72 mx-auto">
      {% endif %}
    </div>

    <div class="text-text whitespace-pre-line text-sm">
      <p class="text-text whitespace-pre-line">{{ strategy.content | safe }}</p>
    </div>


    {% if has_subscription %}
    <div class="my-3">
      <a href="mailto:support@isalgo.com?subject=FOUND A BUG: {{strategy.name}}&body=" class="inline-flex items-center text-sm text-text px-2.5 py-1 rounded-full border border-text"><svg class="w-4 h-4 mr-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0z"></path><path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"></path></svg> Found a bug?</a>
    </div>
    {% endif %}

    <section class="my-6">
      <div class="w-full py-3">
        <button
          id="settingsBtn"
          class="text-sm text-text dark:text-background bg-secondary rounded-xl border-2 border-secondary px-3 py-0.5 hover:bg-secondary hover:dark:text-background"
        >
          {{ strategy.strategyresults_set.all|length }} Results
        </button>
        <button
          id="commentsBtn"
          class="text-sm text-text bg-background rounded-xl border-2 border-secondary px-3 py-0.5 hover:bg-secondary hover:dark:text-background"
        >
          {{ strategy.strategycomments_set.all|length }} Ideas
        </button>
      </div>

      <div class="" id="commentsDiv">{% include "include/comments.html" %}</div>
      <div id="resultsDiv" class="">
        {% include "include/add_result.html" %}
        <div class="" id="settingsDiv">
          {% include "include/results.html" %}
        </div>
      </div>

      <script type="text/javascript">
        const showCommentsBtn = document.getElementById("commentsBtn");
        const showSettingsBtn = document.getElementById("settingsBtn");
        const commentsDiv = document.getElementById("commentsDiv");
        const settingsDiv = document.getElementById("resultsDiv");

        // By default, show the settings div and hide the comments div
        settingsDiv.style.display = "block";
        commentsDiv.style.display = "none";

        // Add event listeners to the buttons
        showCommentsBtn.addEventListener("click", () => {
          // Show the comments div and hide the settings div
          commentsDiv.style.display = "block";
          settingsDiv.style.display = "none";
          showCommentsBtn.classList.add("bg-secondary");
          showCommentsBtn.classList.add("dark:text-background");
          showSettingsBtn.classList.remove("bg-secondary");
          showSettingsBtn.classList.remove("dark:text-background");
        });

        showSettingsBtn.addEventListener("click", () => {
          // Show the settings div and hide the comments div
          settingsDiv.style.display = "block";
          commentsDiv.style.display = "none";

          showCommentsBtn.classList.remove("bg-secondary");
          showCommentsBtn.classList.remove("dark:text-background");
          showSettingsBtn.classList.add("bg-secondary");
          showSettingsBtn.classList.add("dark:text-background");
        });
      </script>
    </section>
  </section>

  <section class="w-3/12 hidden md:block">
    {% for result in random_results %} {% include "include/quick_result.html" with result=result %} {% endfor %}
  </section>

  {% include "include/modal_images_main.html" %} 
  {% if user.is_authenticated and not subscription %}
  {% include "include/upgrade_modal.html" %}
  {% endif %}
  <button class="fixed bottom-4 left-1/2 -translate-x-1/2 px-3 py-1 text-xs text-background bg-text backdrop-brightness-100 rounded hidden items-center" id="backToTopBtn" type="button"><svg class="w-3.5 h-3.5 mr-1" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"></path></svg> Back to top</button>
</main>

<!-- <div
  id="result-modal-data"
  data-modal-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
<button
type="button"
class="hidden"
data-modal-hide="result-modal-data"
id="btn-result-modal-data-hide"
></button>
</div> -->

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    const urlParams = new URLSearchParams(window.location.search);
    const resultParam = urlParams.get("result");

    if (resultParam) {
      scrollToResult(resultParam);
    }
  });

  const backToTopButton = document.getElementById("backToTopBtn");
  let lastScrollY = window.scrollY;

  window.addEventListener("scroll", () => {
    if (window.scrollY > 300) {
      const currentScrollY = window.scrollY;

      if (currentScrollY < lastScrollY) {
        // User is scrolling up, show the button
        backToTopButton.style.display = "flex";
      } else {
        // User is scrolling down, hide the button
        backToTopButton.style.display = "none";
      }

      lastScrollY = currentScrollY;
    } else {
      // Hide the button when the user is near the top
      backToTopButton.style.display = "none";
    }

  });

  backToTopButton.addEventListener("click", () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth", // Smooth scroll animation
    });
  });
</script>

{% endblock page %}
