{% extends 'page.html' %} {% load static %} {% block page %}

<div class="mt-8 flex justify-between">
  <h1 class="text-left text-2xl text-title font-bold">{{ strategy.name }}</h1>
  {% if not subscription %}
  <a href="{% url 'membership' %}" class="btn-accent font-semibold whitespace-nowrap">Unlock access 
    <svg class="h-4 w-r ml-1" stroke="currentColor" fill="currentColor" stroke-width="1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 4c1.654 0 3 1.346 3 3h2c0-2.757-2.243-5-5-5S7 4.243 7 7v2H6c-1.103 0-2 .897-2 2v9c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-9c0-1.103-.897-2-2-2H9V7c0-1.654 1.346-3 3-3zm6.002 16H13v-2.278c.595-.347 1-.985 1-1.722 0-1.103-.897-2-2-2s-2 .897-2 2c0 .736.405 1.375 1 1.722V20H6v-9h12l.002 9z"></path></svg>
  </a>
  {% endif %}
</div>

<main class="mt-8 mb-16 md:flex block justify-between">
  <section class="w-full sm:w-8/12">
    <div class="">
      <img
        class="max-w-full max-h-72 mx-auto"
        src="{% static 'images/chart_nobg.png' %}"
      />
    </div>

    <p class="text-text whitespace-pre-line">{{ strategy.content | safe }}</p>

    <section class="my-6">
      <div class="w-full py-3">
        <button
          id="settingsBtn"
          class="text-sm text-text dark:text-background bg-secondary rounded-xl border-2 border-secondary px-3 py-0.5 hover:bg-secondary hover:dark:text-background"
        >
          {{ strategy.strategyresults_set.all|length }} Results
        </button>
        <button
          id="commentsBtn"
          class="text-sm text-text bg-background rounded-xl border-2 border-secondary px-3 py-0.5 hover:bg-secondary hover:dark:text-background"
        >
          {{ strategy.strategycomments_set.all|length }} Ideas
        </button>
      </div>

      <div class="" id="commentsDiv">{% include "include/comments.html" %}</div>
      <div id="resultsDiv" class="">
        {% include "include/add_result.html" %}
        <div class="" id="settingsDiv">
          {% include "include/results.html" %}
        </div>
      </div>

      <script type="text/javascript">
        const showCommentsBtn = document.getElementById("commentsBtn");
        const showSettingsBtn = document.getElementById("settingsBtn");
        const commentsDiv = document.getElementById("commentsDiv");
        const settingsDiv = document.getElementById("resultsDiv");

        // By default, show the settings div and hide the comments div
        settingsDiv.style.display = "block";
        commentsDiv.style.display = "none";

        // Add event listeners to the buttons
        showCommentsBtn.addEventListener("click", () => {
          // Show the comments div and hide the settings div
          commentsDiv.style.display = "block";
          settingsDiv.style.display = "none";
          showCommentsBtn.classList.add("bg-secondary");
          showCommentsBtn.classList.add("dark:text-background");
          showSettingsBtn.classList.remove("bg-secondary");
          showSettingsBtn.classList.remove("dark:text-background");
        });

        showSettingsBtn.addEventListener("click", () => {
          // Show the settings div and hide the comments div
          settingsDiv.style.display = "block";
          commentsDiv.style.display = "none";

          showCommentsBtn.classList.remove("bg-secondary");
          showCommentsBtn.classList.remove("dark:text-background");
          showSettingsBtn.classList.add("bg-secondary");
          showSettingsBtn.classList.add("dark:text-background");
        });


      </script>
    </section>
  </section>

  <section class="w-3/12 hidden md:block">
    {% for result in random_results %} 
    {% include "include/quick_result.html" with result=result %}
    {% endfor %}
  </section>

  {% include "include/modal_images_main.html" %}
  {% include "include/upgrade_modal.html" %}
</main>


<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    const urlParams = new URLSearchParams(window.location.search);
    const resultParam = urlParams.get("result");
    
    if (resultParam) {
      scrollToResult(resultParam);
    }
  });
</script>

{% endblock page %}