{% extends 'page.html' %}
{% load static %}

{% block head_title %}
<title>IsAlgo | Master the Market: Best High-Level Trading Strategies Revealed</title>
{% endblock head_title %}

{% block head_description %}
<meta name="description" content="Elevate your trading with our expert guide on high-level trading strategies. Discover versatile, backtestable, and automatable approaches that promise success across any market and timeframe.">
{% endblock head_description %}

{% block page %}

    {% if has_subscription or strategies|length < 6 %}
    <h1 class="main-title">Strategies</h1>
    {% else %}
    <h1 class="mt-8 text-center text-3xl sm:text-6xl text-title font-extrabold">Subscribe today and get access to</br> <span class="bg-clip-text bg-gradient-to-tl to-primary from-secondary text-transparent">all of our strategies<span></h1>
    {% endif %}

    <main class="mt-8 mb-16 grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-8">

        {% for strategy in strategies %}
            {% include "include/quick_strategy.html" with strategy=strategy %}
        {% empty %}
        <p class="text-text text-sm">No strategy availble yet.</p>
        {% endfor %}
        {% if strategies|length < 40 %}
            <div class="h-full w-full flex items-center justify-center">
                <h2 class=" font-extrabold bg-clip-text bg-gradient-to-tl to-primary from-secondary text-transparent text-6xl uppercase"><span class="text-accent">More </span></br><span class="text-secondary">coming </span></br><span class="">soon ...</span></h2>
            </div>
        {% endif %}

    </main>
{% endblock page %}