{% if broker_type == 'binance' %}
  {% include 'svg/binance.html' with class=class %}
{% elif broker_type == 'binanceus' %}
  {% include 'svg/binance_us.html' with class=class %}
{% elif broker_type == 'bitget' %}
  {% include 'svg/bitget.html' with class=class %}
{% elif broker_type == 'bybit' %}
  {% include 'svg/bybit.html' with class=class %}
{% elif broker_type == 'bingx' %}
  {% include 'svg/bingx.html' with class=class %}
{% elif broker_type == 'bitmex' %}
  {% include 'svg/bitmex.html' with class=class %}
{% elif broker_type == 'bitmart' %}
  {% include 'svg/bitmart.html' with class=class %}
{% elif broker_type == 'bitunix' %}
  {% include 'svg/bitunix.html' with class=class %}
{% elif broker_type == 'mexc' %}
  {% include 'svg/mexc.html' with class=class %}
{% elif broker_type == 'crypto' %}
  {% include 'svg/crypto.html' with class=class %}
{% elif broker_type == 'kucoin' %}
  {% include 'svg/kucoin.html' with class=class %}
{% elif broker_type == 'okx' %}
  {% include 'svg/okx.html' with class=class %}
{% elif broker_type == 'coinbase' %}
  {% include 'svg/coinbase.html' with class=class %}
{% elif broker_type == 'kraken' %}
  {% include 'svg/kraken.html' with class=class %}
{% elif broker_type == 'hyperliquid' %}
  {% include 'svg/hyperliquid.html' with class=class %}
{% elif broker_type == 'apex' %}
  {% include 'svg/apex.html' with class=class %}
{% elif broker_type == 'aster' %}
  {% include 'svg/aster.html' with class=class %}
{% elif broker_type == 'edgex' %}
  {% include 'svg/edgex.html' with class=class %}
{% elif broker_type == 'metatrader4' %}
  {% include 'svg/metatrader4.html' with class=class %}
{% elif broker_type == 'metatrader5' %}
  {% include 'svg/metatrader5.html' with class=class %}
{% elif broker_type == 'tradelocker' %}
  {% include 'svg/tradelocker.html' with class=class %}
{% elif broker_type == 'ninjatrader' %}
  {% include 'svg/ninjatrader.html' with class=class %}
{% elif broker_type == 'dxtrade' %}
  {% include 'svg/dxtrade.html' with class=class %}
{% elif broker_type == 'ctrader' %}
  {% include 'svg/ctrader.html' with class=class %}
{% elif broker_type == 'tradestation' %}
  {% include 'svg/tradestation.html' with class=class %}
{% else %}
  <h3 class="text-title">{{ broker_type }}</h3>
{% endif %}
