<!-- Logs account -->

<section id="logs-{{ broker_type }}-{{ id }}" class="">
  {% if logs is not None %}
    {% if logs %}
      <ul class="">
        {% include 'include/account_logs_list.html' %}
      </ul>
    {% else %}
      <!-- Case where 'logs' is an empty list or similar iterable -->
      <p class="text-text/80 text-sm mb-6">No logs available for this account at this moment.</p>
    {% endif %}
  {% else %}
    <!-- Case where 'logs' is None or not passed in the context -->
    <p class="text-text/80 text-sm mb-6 flex items-center">
      Loading{% include 'svg/spinner.html' with class='ml-1.5 h-4 text-text' %}
    </p>
  {% endif %}
</section>
