{% for log in logs %}
  {% comment %} {% ifchanged log.created_at.date %}
  <li class="mb-1 flex items-start">
    <h3 class="text-md font-semibold text-text mb-2 {% if not forloop.first %} mt-2 {% endif %}">{{ log.created_at|date:'M d, Y' }}</h3>
  </li>
  {% endifchanged %} {% endcomment %}

  <li class="mb-1 flex items-start">
    {% comment %} <span class="text-xs text-text/60 flex-shrink-0">{{ log.created_at|date:'H:i:s' }}</span> {% endcomment %}
    <div class="inline-block flex-1 hover:bg-text/10 rounded-md transition-all py-1.5">
      <div class="flex items-center gap-2">
        {% if log.response_status == 'E' %}
          <svg class="h-3.5 shrink-0 aspect-square text-error/80 bg-error/10 rounded-full inline align-middle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10" />
            <path d="m4.9 4.9 14.2 14.2" />
          </svg>
        {% elif log.response_status == 'S' %}
          <svg class="h-3.5 shrink-0 aspect-square text-success/80 bg-success/10 rounded-full inline align-middle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10" />
            <path d="m9 12 2 2 4-4" />
          </svg>
        {% endif %}
        <p class="text-xs text-text/80 flex-1 mr-1.5">{{ log.alert_message }}</p>
      </div>
      <div class="flex items-start gap-2">
        <svg class="w-3.5 aspect-square shrink-0 {% if log.response_status == 'E' %}
             text-error/80 bg-error/10
          {% elif log.response_status == 'S' %}
             text-success/80 bg-success/10
          {% endif %} rounded-full inline align-top"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-corner-down-right">
          <polyline points="15 10 20 15 15 20" />
          <path d="M4 4v7a4 4 0 0 0 4 4h12" />
        </svg>
        <p class=" text-sm flex-1 mr-1.5 {% if log.response_status == 'E' %}
             text-error/80
          {% elif log.response_status == 'S' %}
             text-success/80
          {% endif %}">
          {{ log.response_message }} <br />
          <span class="text-xs text-text/60 inline-block">Triggered: {{ log.created_at|date:'D d M Y H:i:s' }}</span>
          {% if log.trade_latency > 0 %}
            <span class="bg-error/10 text-text text-xs px-1 rounded-md">
              Exe latency: {{ log.trade_latency|floatformat:3 }} sec
            </span>
          {% endif %}
          {% if log.latency and user.is_staff %}
            <span class="bg-error/10 text-text text-xs px-1 ml-1 rounded-md">Latency: {{ log.latency|floatformat:3 }} sec</span>
          {% endif %}
        </p>
      </div>
    </div>
  </li>
{% endfor %}

{% if next_start is not None %}
  <li hx-ext="intersect" hx-trigger="intersect once" hx-get="{% url 'get_logs' broker_type id %}?start={{ next_start }}" hx-swap="outerHTML">
    <span colspan="11" class="py-4 text-center text-text/60 text-xs">Loading more...</span>
  </li>
{% endif %}
