
  {% if account_subscription %}
    <p class="input-label text-sm">Subscription 

      {% if subscription_paused %}
      <span class="bg-text/10 text-text rounded px-1 py-0 font-semibold">paused</span>
      {% else %}
      <span class="bg-success/10 text-success rounded px-1 py-0 font-semibold">{{subscription_status}}</span>
      {% endif %}
    </p>

    {% if not subscription_paused %}
    <div class="bg-text/10 rounded-md p-4 my-3 text-text">
      <div class="flex justify-between items-center mb-2">
        <span class="text-text">Next Payment</span>
      </div>

      <div class="flex justify-between items-center mb-2">
        <span class="text-text/60">Subtotal</span>
        <span>${{subscription_next_payment_amount}}</span>
      </div>
        
      <div class="flex justify-between items-center pt-2 border-t border-title/20 mt-2">
        <span class="font-medium text-text/60">Total</span>
        <span class="font-medium text-lg">${{subscription_next_payment_amount}}</span>
      </div>

      <p class="mt-2.5 text-xs text-text/80">&#9737; Scheduled for {{ next_payment_date|date:'M d Y' }}</p>

    </div>
    {% endif %}

    <div class="bg-text/10 rounded-md p-4 my-3 text-text">
      <div class="flex justify-between items-center mb-2">
        <span class="text-text">Payment Method</span>
      </div>

      {% if pm %}
        {% include "include/payment_methods.html" with payment_methods=pm hide_default=True %}
      {% endif %}

      {% with title=broker_type|add:'-account_subscription_pm'|add:id %}
        <button id="change-pm-{{title}}-btn" class="mt-3 btn-text" onclick="mountStripeElement('{{title}}'); changeHidden('add-{{title}}-form', 'change-pm-{{title}}-btn');">
          {% if pm %}
            Change Payment Method
            {% else %}
            Select Payment Method
          {% endif %}
        </button>

        <form id="add-{{title}}-form" class="hidden mt-2" 
              hx-post="{% url 'change_account_subscription_payment' broker_type id account_subscription.id %}" 
              hx-target="#edit-{{id}}_{{broker_type}}-sub"
              hx-wait="swap"
        >
          {% include 'include/broker_payment.html' with title=title hide_header=True %}
          {% csrf_token %}
          <div class="flex items-center justify-between gap-2 mt-2">
            <button type="button" class="btn-icon w-full justify-center border border-text/60 py-1" onclick="unmountStripeElement('{{title}}'); changeHidden('change-pm-{{title}}-btn', 'add-{{title}}-form');">Cancel</button>
            <button
              id="spinner-add-{{title}}"
              disabled
              type="button"
              class="btn-text w-full hidden"
            >
              Saving
              <svg
                aria-hidden="true"
                role="status"
                class="h-4 aspect-square ml-1.5 text-current animate-spin"
                viewBox="0 0 100 101"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  class="fill-background/60"
                  d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                />
                <path
                  d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                  fill="currentColor"
                />
              </svg>
            </button>
            <button id="btn-add-{{title}}" onclick='onAutomateAccountAdd("{{title}}", "edit-{{id}}_{{broker_type}}-sub-errors", event)' type="submit" class="btn-text w-full">Save</button>
          </div>
        </form>

      {% endwith %}

    </div>

  {% else %}
  <!-- Case where 'logs' is None or not passed in the context -->
    <p class="text-text/80 text-sm mb-6 flex items-center text-center" >
      Loading
      <svg
        aria-hidden="true"
        role="status"
        class="h-4 aspect-square ml-1.5 text-text animate-spin text-center"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        >
        <path
            class="fill-text/60"
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        />
        <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentColor"
        />
      </svg>
    </p>
{% endif %}


<div
id="edit-{{id}}_{{broker_type}}-sub-errors"
class="my-2"
></div>