<svg
  class="parallax h-20 w-4 absolute top-[10%] -right-10 fill-secondary stroke-secondary opacity-20 pointer-events-none"
  viewBox="0 0 65 394"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M32 389L32 4.99998" stroke-width="10" stroke-linecap="round" />
  <rect
    x="65"
    y="394"
    width="65"
    height="199"
    rx="8"
    transform="rotate(-180 65 394)"
  />
</svg>

<svg
  class="parallax h-20 w-4 absolute top-[50%] -left-10 fill-title stroke-title opacity-20 pointer-events-none"
  viewBox="0 0 65 345"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M32 340L32 5.5" stroke-width="10" stroke-linecap="round" />
  <rect
    x="65"
    y="249"
    width="65"
    height="122"
    rx="8"
    transform="rotate(-180 65 249)"
  />
</svg>

<svg
  class="parallax h-20 w-4 absolute top-[5%] -left-3 fill-secondary stroke-secondary opacity-20 pointer-events-none"
  viewBox="0 0 65 394"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M32 340L32 5.5" stroke-width="10" stroke-linecap="round" />
  <rect
    x="65"
    y="249"
    width="65"
    height="122"
    rx="8"
    transform="rotate(-180 65 249)"
  />
</svg>

<svg
  class="parallax h-20 w-4 absolute top-[44%] left-[2%] fill-secondary stroke-secondary opacity-20 pointer-events-none"
  viewBox="0 0 65 345"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M32 339.5L32 5" stroke-width="10" stroke-linecap="round" />
  <rect
    x="65"
    y="249"
    width="65"
    height="199"
    rx="8"
    transform="rotate(-180 65 249)"
  />
</svg>

<svg
  class="parallax h-20 w-4 absolute top-[14%] right-[2.75rem] fill-title stroke-title opacity-20 pointer-events-none"
  viewBox="0 0 65 345"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M32 339.5L32 5" stroke-width="10" stroke-linecap="round" />
  <rect
    x="65"
    y="248"
    width="65"
    height="224"
    rx="8"
    transform="rotate(-180 65 248)"
  />
</svg>

<svg
  class="parallax h-20 w-4 absolute top-[80%] left-[15%] fill-title stroke-title opacity-20 pointer-events-none"
  viewBox="0 0 65 345"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M32 220.5L32 5" stroke-width="10" stroke-linecap="round" />
  <rect
    x="65"
    y="248"
    width="65"
    height="224"
    rx="8"
    transform="rotate(-180 65 248)"
  />
</svg>

<svg
  class="parallax h-20 w-4 absolute top-[100%] left-[1%] fill-secondary stroke-secondary opacity-20"
  viewBox="0 0 65 345"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M32 220.5L32 5" stroke-width="10" stroke-linecap="round" />
  <rect
    x="65"
    y="248"
    width="65"
    height="160"
    rx="8"
    transform="rotate(-180 65 248)"
  />
</svg>

<svg
  class="parallax h-20 w-4 absolute top-[5%] left-[8rem] fill-title stroke-title opacity-20 pointer-events-none"
  viewBox="0 0 65 345"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M32 220.5L32 5" stroke-width="10" stroke-linecap="round" />
  <rect
    x="65"
    y="248"
    width="65"
    height="80"
    rx="8"
    transform="rotate(-180 65 248)"
  />
</svg>

<svg
  class="parallax h-20 w-4 absolute top-[33%] right-[18%] fill-title stroke-title opacity-20 pointer-events-none"
  viewBox="0 0 65 345"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M32 290.5L32 5" stroke-width="10" stroke-linecap="round" />
  <rect
    x="65"
    y="248"
    width="65"
    height="224"
    rx="8"
    transform="rotate(-180 65 248)"
  />
</svg>

<!-- <svg  class="h-24 w-7 absolute top-[10rem] left-[50%] fill-title stroke-title opacity-20 pointer-events-none" viewBox="0 0 65 345" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M32 290.5L32 5" stroke-width="10" stroke-linecap="round"/>
    <rect x="65" y="248" width="65" height="200" rx="8" transform="rotate(-180 65 248)" />
  </svg> -->

<svg
  class="parallax h-20 w-4 absolute top-[16%] right-[15%] fill-title stroke-title opacity-20 pointer-events-none"
  viewBox="0 0 65 345"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M32 290.5L32 5" stroke-width="10" stroke-linecap="round" />
  <rect
    x="65"
    y="270"
    width="65"
    height="220"
    rx="8"
    transform="rotate(-180 65 248)"
  />
</svg>

<svg
  class="parallax h-20 w-4 absolute top-[25%] left-[10rem] fill-title stroke-title opacity-20 pointer-events-none"
  viewBox="0 0 65 345"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M32 320.5L32 5" stroke-width="10" stroke-linecap="round" />
  <rect
    x="65"
    y="270"
    width="65"
    height="226"
    rx="8"
    transform="rotate(-180 65 248)"
  />
</svg>

<svg
  class="parallax h-20 w-4 absolute top-[100%] right-[1%] fill-secondary stroke-secondary opacity-20 pointer-events-none"
  viewBox="0 0 65 345"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M32 210.5L32 5" stroke-width="10" stroke-linecap="round" />
  <rect
    x="65"
    y="270"
    width="65"
    height="120"
    rx="8"
    transform="rotate(-180 65 248)"
  />
</svg>

<!-- <svg class="h-24 w-7 absolute top-[6.8rem] left-[18.5rem] fill-secondary stroke-secondary opacity-20 pointer-events-none" viewBox="0 0 65 345" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M32 302.5L32 5" stroke-width="10" stroke-linecap="round"/>
    <rect x="65" y="249" width="65" height="229" rx="8" transform="rotate(-180 65 249)" />
  </svg> -->

<!-- <svg class="h-24 w-7 absolute top-[18.8rem] right-[20.25rem] fill-title stroke-title opacity-20 pointer-events-none" viewBox="0 0 65 345" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M32 302.5L32 5" stroke-width="10" stroke-linecap="round"/>
    <rect x="65" y="249" width="65" height="169" rx="8" transform="rotate(-180 65 249)" />
  </svg> -->

<svg
  class="parallax h-20 w-4 absolute top-[80%] right-[-2rem] fill-title stroke-title opacity-20 pointer-events-none"
  viewBox="0 0 65 345"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M32 302.5L32 5" stroke-width="10" stroke-linecap="round" />
  <rect
    x="65"
    y="249"
    width="65"
    height="169"
    rx="8"
    transform="rotate(-180 65 249)"
  />
</svg>

<!-- <svg class="h-24 w-7 absolute top-[60%] right-[30%] fill-secondary stroke-secondary opacity-20 pointer-events-none" viewBox="0 0 65 345" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M32 342.5L32 5" stroke-width="10" stroke-linecap="round"/>
    <rect x="65" y="249" width="65" height="139" rx="8" transform="rotate(-180 65 249)" />
  </svg> -->

<svg
  class="parallax h-20 w-4 absolute top-[70%] right-[10%] fill-secondary stroke-secondary opacity-20 pointer-events-none"
  viewBox="0 0 65 345"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M32 342.5L32 5" stroke-width="10" stroke-linecap="round" />
  <rect
    x="65"
    y="249"
    width="65"
    height="139"
    rx="8"
    transform="rotate(-180 65 249)"
  />
</svg>

<svg
  class="parallax h-20 w-4 absolute top-[72%] left-[5%] fill-secondary stroke-secondary opacity-20 pointer-events-none"
  viewBox="0 0 65 345"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M32 350.5L32 5" stroke-width="10" stroke-linecap="round" />
  <rect
    x="65"
    y="249"
    width="65"
    height="120"
    rx="8"
    transform="rotate(-180 65 249)"
  />
</svg>

<!-- <svg class="h-24 w-7 absolute top-[4%] left-[30%] fill-secondary stroke-secondary opacity-20 pointer-events-none" viewBox="0 0 65 345" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M32 230.5L32 5" stroke-width="10" stroke-linecap="round"/>
    <rect x="65" y="249" width="65" height="120" rx="8" transform="rotate(-180 65 249)" />
  </svg> -->

<!-- <svg class="h-24 w-7 absolute top-[1%] right-[30%] fill-title stroke-title opacity-20 pointer-events-none" viewBox="0 0 65 345" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M32 230.5L32 5" stroke-width="10" stroke-linecap="round"/>
    <rect x="65" y="249" width="65" height="200" rx="8" transform="rotate(-180 65 249)" />
  </svg> -->

<svg
  class="parallax h-20 w-4 absolute top-[60%] right-[12%] fill-secondary stroke-secondary opacity-20 pointer-events-none"
  viewBox="0 0 65 345"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path d="M32 230.5L32 5" stroke-width="10" stroke-linecap="round" />
  <rect
    x="65"
    y="249"
    width="65"
    height="211"
    rx="8"
    transform="rotate(-180 65 249)"
  />
</svg>
