<div
  class="mt-12 relative rounded-xl p-4 sm:p-8 w-full md:w-9/12 flex items-center justify-around {{class}}"
>
  <div
    class="absolute top-0 bottom-0 w-full bg-gradient-to-t to-background from-{{color}} blur-[3000px] from-0% to-80%"
  ></div>
  <div class="max-w-[100%] md:max-w-[65%]">
    <h3 class="text-title text-2xl font-bold">{{h1}}</h3>
    <h3 class="text-text text-lg mt-4 font-semibold">{{h2}}</h3>
  </div>
  <div class="mx-auto h-52 mt-3 hidden md:block">
    <lottie-player
      class="h-full w-full"
      src="{{lottie_src}}"
      background="transparent"
      speed="1"
      loop
      autoplay
    ></lottie-player>
  </div>
</div>
