<li
  class="relative flex items-center p-2 py-16 rounded-xl border-0 border-secondary w-fit max-w-xl {% if no == 2 or no == 4 %} ml-auto {% endif %}"
>
  <span
    class="absolute right-1/3 w-28 aspect-square bg-title/80 opacity-30 -z-10 rounded-full text-background font-semibold text-8xl flex items-center justify-center mx-2"
    >{{no}}</span
  >
  <div class="">
    <h3 class="font-semibold text-3xl text-text">{{h}}</h3>
    <p class="font-medium text-base text-text mt-2">{{text}}</p>
  </div>

  <div class="stroke-secondary stroke-2 fill-none ml-2 sm:ml-8 relative">
    <div
      class="absolute inset-0 bg-secondary scale-75 rounded-full -z-40 blur-[120px]"
    ></div>
    {{svg}}
  </div>
</li>
