{% load static %}
<div
  class="backdrop-blur-sm overflow-hidden min-h-fit sm:h-[55vh] my-8 md:my-16 relative rounded-xl p-4 sm:p-8 w-full md:w-12/12 flex-col md:flex-row flex items-center justify-around {{class}} dark:bg-background/10"
>
  <div class="max-w-[100%] md:max-w-[55%] my-6">
    <h3 class="text-title text-3xl font-semibold">
      {{h1}} <span class="{{span_color}}">{{span}}</span>
    </h3>
    <h6 class="text-text text-xl mt-2 font-medium">{{h2}}</h6>
  </div>
  <div class="mx-6 h-full block w-auto relative" style="">
    {% comment %}
    <div
      class="absolute inset-0 bg-accent/10 scale-150 rounded-full blur-[110px]"
    ></div>
    {% endcomment %}

    <div
      class="overflow-hidden md:overflow-visible h-36 md:h-full rounded-xl relative {{img_class}}"
    >
      <img
        class="parallax-round-reverse max-w-sm w-full object-scale-down min-h-full blur-[3px]"
        alt=""
        src="{% static img_src %}"
        loading="lazy"
      />

      <div
        class="{{class}} !border-2 absolute scale-105 shadow-xl shadow-background/50 p-0 rounded-lg inset-x-0 top-1/2 -translate-y-1/2 bg-background/25 w-full h-52 overflow-hidden"
      >
        <img
          loading="lazy"
          class="parallax-round-reverse max-w-sm w-full object-scale-down min-h-full"
          alt=""
          src="{% static img_src %}"
        />
      </div>
    </div>
  </div>
</div>
