{% load custom_tags %}
{% if type == 'profit' %}
  <div class="bg-profit/5 p-4 rounded-lg">
    <div class="flex items-center gap-2 mb-1">
      <svg class="w-4 h-4 text-profit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="22 7 13.5 15.5 8.5 10.5 2 17" />
        <polyline points="16 7 22 7 22 13" />
      </svg>
      <span class="text-sm font-medium text-profit">{{ title }}</span>
    </div>
    <div class="flex flex-col justify-start items-start">
      <h6 class="text-3xl font-bold text-profit">{{ value|floatformat:8|trim_zeros|default:'0' }}</h6>

      {% if buy_value or sell_value %}
        <div class="flex flex-row gap-2 mt-2">
          <h5 class="text-xs text-primary flex items-center gap-1 bg-primary/10 px-2 py-1 rounded-md">
            {{ buy_value|default:'0' }}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-3 aspect-auto text-current">
              <path d="M16 7h6v6" />
              <path d="m22 7-8.5 8.5-5-5L2 17" />
            </svg>
          </h5>
          <h5 class="text-xs text-title/80 flex items-center gap-1 bg-title/10 px-2 py-1 rounded-md">
            {{ sell_value|default:'0' }}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-3 aspect-auto text-current">
              <path d="M16 17h6v-6" />
              <path d="m22 17-8.5-8.5-5 5L2 7" />
            </svg>
          </h5>
        </div>
      {% endif %}
    </div>
  </div>
{% elif type == 'loss' %}
  <div class="bg-loss/5 p-4 rounded-lg">
    <div class="flex items-center gap-2 mb-1">
      <svg class="w-4 h-4 text-loss" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="22 17 13.5 8.5 8.5 13.5 2 7" />
        <polyline points="16 17 22 17 22 11" />
      </svg>
      <span class="text-sm font-medium text-loss">{{ title }}</span>
    </div>

    <div class="flex flex-col justify-start items-start">
      <h6 class="text-3xl font-bold text-loss">{{ value|floatformat:8|trim_zeros|default:'0' }}</h6>
      {% if buy_value or sell_value %}
        <div class="flex flex-row gap-2 mt-2">
          <h5 class="text-xs text-primary flex items-center gap-1 bg-primary/10 px-2 py-1 rounded-md">
            {{ buy_value|default:'0' }}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-3 aspect-auto text-current">
              <path d="M16 7h6v6" />
              <path d="m22 7-8.5 8.5-5-5L2 17" />
            </svg>
          </h5>
          <h5 class="text-xs text-title/80 flex items-center gap-1 bg-title/10 px-2 py-1 rounded-md">
            {{ sell_value|default:'0' }}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-3 aspect-auto text-current">
              <path d="M16 17h6v-6" />
              <path d="m22 17-8.5-8.5-5 5L2 7" />
            </svg>
          </h5>
        </div>
      {% endif %}
    </div>
  </div>
{% else %}
  <div class="bg-text/5 p-4 rounded-lg">
    <div class="flex items-center gap-2 mb-1">
      {{ svg }}
      <span class="text-sm font-medium text-text">{{ title }}</span>
    </div>

    <div class="flex flex-col justify-start items-start">
      <h6 class="text-3xl font-bold text-text">{{ value|default:'0' }}</h6>
      {% if buy_value or sell_value %}
        <div class="flex flex-row gap-2 mt-2">
          <h5 class="text-xs text-primary flex items-center gap-1 bg-primary/10 px-2 py-1 rounded-md">
            {{ buy_value|default:'0' }}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-3 aspect-auto text-current">
              <path d="M16 7h6v6" />
              <path d="m22 7-8.5 8.5-5-5L2 17" />
            </svg>
          </h5>
          <h5 class="text-xs text-title/80 flex items-center gap-1 bg-title/10 px-2 py-1 rounded-md">
            {{ sell_value|default:'0' }}<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-3 aspect-auto text-current">
              <path d="M16 17h6v-6" />
              <path d="m22 17-8.5-8.5-5 5L2 7" />
            </svg>
          </h5>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
