<form
  hx-post="{% url 'update-discord-username' %}"
  hx-target="#discord-setting"
  class="mx-auto w-full rounded-md bg-text/5 backdrop-blur-3xl overflow-hidden py-4 px-6  max-w-lg mb-8"
>
  <h5 class="text-title font-semibold mb-6">Discord</h5>
  {% csrf_token %}
  
  <label
    for="email"
    class="flex items-center justify-between input-label"
    ><span>Discord username</span> </label
  >
  <div class="relative mb-6">
    <div
      class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5 text-text/60"
        fill="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8 12.052c1.995 0 3.5-1.505 3.5-3.5s-1.505-3.5-3.5-3.5-3.5 1.505-3.5 3.5 1.505 3.5 3.5 3.5zM9 13H7c-2.757 0-5 2.243-5 5v1h12v-1c0-2.757-2.243-5-5-5zm11.294-4.708-4.3 4.292-1.292-1.292-1.414 1.414 2.706 2.704 5.712-5.702z"
        ></path>
      </svg>
    </div>
    <input
      type="text"
      name="discord_username"
      id="discord_un"
      {% if user_profile.discord_username != None %}
      value="{{user_profile.discord_username}}"
      {% endif %}
      class="input-text  block w-full pl-10 p-2.5 "
      placeholder="username"
      autocomplete="off"
    />
  </div>

  <div id="discord-form-errors">
    {% if succes %}
    {% include 'include/succes.html' %}
    {% elif has_subscription and not user_profile.discord_username %} 
    {% include 'include/infos.html' with info='<a class="text-text font-semibold" href="https://discord.gg/wVsXdGSMFg" target="_blank">Click here <svg class="w-3 aspect-square inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-arrow-out-up-right"><path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"/><path d="m21 3-9 9"/><path d="M15 3h6v6"/></svg></a> to join our discord server before requesting a member access.' %}
    {% elif has_subscription and user_profile.discord_username %} 
    {% include 'include/infos.html' with info='By changing your Discord username, the previous username will no longer have access to our private discord channels.' %}
    {% else %} 
    {% include 'include/infos.html' with info="Choose one of our plans to get started and gain access." %}
    {% endif %} 
  </div>
{% if has_subscription and subscription and subscription.status != 'past_due' %}
<button
type="submit"
id="btn-discord"
onclick="openLoader('', '-discord', 'flex');"
class="btn-primary mt-4 mb-2 w-full"
>
Save
</button>
{% else %}
  <button
    type="button"
    id="btn-discord"
    onclick="toggleGetStarted()"
    class="btn-primary mt-4 mb-2 w-full"
  >
    Choose a plan
  </button>
  {% endif %}
  <button
    id="spinner-discord"
    disabled
    type="button"
    class="mt-4 mb-2 w-full btn-primary items-center hidden"
  >
    Saving {% include 'svg/spinner.html' with class='h-4 ml-1.5' %}
  </button>
</form>
