<div class="mx-auto w-full rounded-md bg-text/5 backdrop-blur-3xl overflow-hidden py-4 px-6 max-w-lg mb-6">
  <h5 class="text-title font-semibold mb-6">Membership</h5>

  {% if user_profile.is_lifetime %}
    <p class="text-left text-title text-lg font-semibold">
      You're subscribing to our
      <span class="text-title font-extrabold">LIFETIME</span>
      plan.
    </p>
  {% else %}
    {% if subscription %}
      <div class="">
        <p class="text-left text-title text-lg font-semibold">
          <span class="text-title font-extrabold">{{ subscription_plan }}</span>
          Plan
        </p>
        {% if subscription_canceled == True or subscription_status == 'canceled' %}
          <p class="mt-2 text-left text-warning text-base px-2 py-1 bg-warning/10 rounded-md inline-block">
            Your subscription was canceled.{% comment %}end on <span class="text-warning font-semibold inline-block">{{ subscription_period_end|date:'M d Y' }}</span> {% endcomment %}
          </p>
          <p class="mt-4 text-right text-text text-sm">
            Click
            <a href="{% url 'membership' %}" class="cursor-pointer underline font-semibold">here</a>
            to renew
          </p>
        {% elif subscription_status == 'incomplete' or subscription_status == 'incomplete_expired' %}
          <p class="mt-2 text-left text-warning px-2 py-1 bg-warning/10 text-base rounded-md inline-block">Your subscription is incomplete.</p>

          <p class="mt-4 text-right text-text text-sm">
            Click
            <a href="{% url 'membership' %}" class="cursor-pointer underline font-semibold">here</a>
            to complete
          </p>
        {% else %}
          <p class="mt-2 mb-2 text-left text-title text-base">Your subscription is active and recurring</p>

          <div class="bg-text/5 backdrop-blur-3xl rounded-md p-4 my-3 text-text">
            <div class="flex justify-between items-center mb-2">
              <span class="text-text">Next Payment</span>
              {% comment %} <span>${{ subscription_next_payment_amount }}</span> {% endcomment %}
            </div>

            <div class="flex justify-between items-center mb-2">
              <span class="text-text/60">Subtotal</span>
              <span>${{ subscription_next_payment_amount }}</span>
            </div>

            <div class="flex justify-between items-center pt-2 border-t border-title/20 mt-2">
              <span class="font-medium text-text/60">Total</span>
              <span class="font-medium text-lg">${{ subscription_next_payment_amount }}</span>
            </div>

            {% if has_subscription and title != 'LIFETIME' %}
              <p class="mt-2.5 text-xs text-text/80">&#9737; Scheduled for {{ subscription_period_end|date:'M d Y' }}</p>
            {% endif %}
          </div>

          {% include 'include/errors.html' %}

          <p class="mt-2 text-right text-text text-xs" id="btn-p-cancel">
            Click
            <span onclick="openModel('staticModal-cancel')" class="cursor-pointer underline font-semibold">here</span>
            to cancel
          </p>
          <p class="mt-4 text-right text-text text-xs hidden" id="spinner-p-cancel">
            <span class="flex items-center ml-auto">
              <svg aria-hidden="true" role="status" class="w-4 h-4 ml-1 text-background animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB" />
                <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor" />
              </svg>
            </span>
          </p>
        {% endif %}
      </div>
    {% else %}
      <div class="">
        <div class="flex items-center px-4 py-2 mb-0 text-sm text-warning rounded-lg bg-transparent" role="alert">
          <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Info</span>
          <h6 class="text-sm">Looks like you're not subscribing to any of our plans.</h6>
        </div>
        <button onclick="toggleGetStarted()" class="btn-primary mt-4 mb-2 w-full">Subscribe now</button>
      </div>
    {% endif %}
  {% endif %}
</div>

{% if has_subscription %}
  <!-- Main modal -->
  <div id="staticModal-cancel" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-background rounded-lg shadow">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 rounded-t">
          <h3 class="text-xl font-semibold text-title">Cancel membership</h3>
          <button onclick="hideModel('staticModal-cancel')" type="button" class="btn-icon">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
        <!-- Modal body -->
        <form hx-post="{% url 'membership-cancel' %}" hx-target="#setting-membership" class="max-w-md p-6 pt-1 mx-auto mt-1">
          {% csrf_token %}

          <div class="rounded-md px-4 mb-8">
            <h6 class="text-title font-bold">Before You Cancel</h6>
            <ul class="text-text text-sm space-y-2 my-4">
              <li>
                &#9679; If you’re unsure how to get the most out of our products, please <a class="btn-a font-semibold text-title hover:text-title/80" href="{% url 'docs_contactus' %}">contact us</a> we’re happy to guide you or schedule a one-on-one call to help you succeed.
              </li>
              <li>
                &#9679; Got a trading idea or an improvement suggestion? We’d <a class="btn-a font-semibold text-title hover:text-title/80" href="{% url 'docs_contactus' %}">love to hear it</a> share your thoughts with us, and we’ll do our best to make it happen. Your.
              </li>
              <li>
                &#9679; If you didn’t enjoy our products, we’d really appreciate your <a class="btn-a font-semibold text-title hover:text-title/80" href="{% url 'docs_contactus' %}">feedback</a>. Your thoughts help us improve and serve you better.
              </li>
            </ul>

            <p class="text-error text-sm font-semibold">By canceling your membership, you will no longer have access to our premium products after the current billing period ends.</p>
          </div>

          <div class="mt-6 flex items-center justify-around">
            <button data-modal-hide="staticModal-cancel" type="submit" class="btn-icon text-error hover:text-error/80 mr-auto" onclick="openLoader('-p-cancel', '', 'flex');hideModel('staticModal-cancel');">Cancel</button>
            <button onclick="hideModel('staticModal-cancel')" type="button" class="btn-icon mr-auto font-semibold">
              Keep it<svg class="h-3.5 aspect-auto ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M20 6 9 17l-5-5" />
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}
