<div class="mx-auto w-full rounded-md bg-text/5 backdrop-blur-3xl overflow-hidden py-4 px-6 max-w-lg mb-6">
  <h5 class="text-title font-semibold mb-6">Membership</h5>

  {% if user_profile.is_lifetime %}
    <p class="text-left text-title text-lg font-semibold">
      You're a
      <span class="text-title font-extrabold">LIFETIME</span>
      member.
    </p>
  {% else %}
    {% if subscription %}
      <div class="">
        <p class="text-left text-title text-lg font-semibold">
          <span class="text-title font-extrabold">{{ subscription.plan }}</span>
          Plan
        </p>
        {% if subscription.cancel_at_period_end %}
          <p class="mt-2 text-left text-warning text-base px-2 py-1 bg-warning/10 rounded-md inline-block">
            Your subscription was canceled. end on <span class="text-warning font-semibold inline-block">{{ subscription.period_end|date:'M d Y' }}</span>
          </p>
          <form hx-post="{% url 'membership-cancel' %}" hx-target="#setting-membership" class="">
            <p id="btn-p-activate" class="mt-4 text-right text-text text-sm">
              {% csrf_token %}Click
              <button id="btn-p-activate" onclick="openLoader('-p-activate', '', 'flex');" class="cursor-pointer underline font-semibold">here</button>
              to renew
            </p>
          </form>
          <p class="mt-4 text-right text-text text-xs hidden" id="spinner-p-activate">
            <span class="flex items-center ml-auto">
              {% include 'svg/spinner.html' with class='h-4 ml-1' %}
            </span>
          </p>
          {% elif subscription.status == 'past_due' %}
            {% include 'include/errors.html' with class="mt-2 mb-2 " error="There is an issue with your payment method. Please update it or change your default payment method to avoid interruption of your subscription." %}
        {% else %}
          <p class="mt-2 mb-2 text-left text-title text-base">Your subscription is active and recurring</p>

          <div class="bg-text/5 backdrop-blur-3xl rounded-md p-4 my-3 text-text">
            <div class="flex justify-between items-center mb-2">
              <span class="text-text">Next Payment</span>
            </div>

            <div class="flex justify-between items-center mb-2">
              <span class="text-text/60">Subtotal</span>
              <span>${{ subscription.amount }}</span>
            </div>

            <div class="flex justify-between items-center pt-2 border-t border-title/20 mt-2">
              <span class="font-medium text-text/60">Total</span>
              <span class="font-medium text-lg">${{ subscription.amount }}</span>
            </div>

            {% if has_subscription and title != 'LIFETIME' %}
              <p class="mt-2.5 text-xs text-text/80">&#9737; Scheduled for {{ subscription.period_end|date:'M d Y' }}</p>
            {% endif %}
          </div>

          {% include 'include/errors.html' %}

          <p class="mt-2 text-right text-text text-xs" id="btn-p-cancel">
            Click
            <span onclick="openModel('staticModal-cancel')" class="cursor-pointer underline font-semibold">here</span>
            to cancel
          </p>
          <p class="mt-4 text-right text-text text-xs hidden" id="spinner-p-cancel">
            <span class="flex items-center ml-auto">
              {% include 'svg/spinner.html' with class='h-4 ml-1' %}
            </span>
          </p>
        {% endif %}
      </div>
    {% else %}
      <div class="">
        <div class="flex items-center px-4 py-2 mb-0 text-sm text-warning rounded-lg bg-transparent" role="alert">
          <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Info</span>
          <h6 class="text-sm">Looks like you're not subscribing to any of our plans.</h6>
        </div>
        <button onclick="toggleGetStarted()" class="btn-primary mt-4 mb-2 w-full">Subscribe now</button>
      </div>
    {% endif %}
  {% endif %}
</div>

{% if has_subscription %}
  <!-- Main modal -->
  <div id="staticModal-cancel" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-background rounded-lg shadow">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 rounded-t">
          <h3 class="text-xl font-semibold text-title">Cancel membership</h3>
          <button onclick="hideModel('staticModal-cancel')" type="button" class="btn-icon">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
          </button>
        </div>
        <!-- Modal body -->
        <form hx-post="{% url 'membership-cancel' %}" hx-target="#setting-membership" class="max-w-md p-6 pt-1 mx-auto mt-1">
          {% csrf_token %}

          <div class="rounded-md px-4 mb-8">
            <h6 class="text-title font-bold">Before You Cancel</h6>
            <ul class="text-text text-sm space-y-2 my-4">
              <li>
                &#9679; If you’re unsure how to get the most out of our products, please <a class="btn-a font-semibold text-title hover:text-title/80" href="{% url 'docs_contactus' %}">contact us</a> we’re happy to guide you or schedule a one-on-one call to help you succeed.
              </li>
              <li>
                &#9679; Got a trading idea or an improvement suggestion? We’d <a class="btn-a font-semibold text-title hover:text-title/80" href="{% url 'docs_contactus' %}">love to hear it</a> share your thoughts with us, and we’ll do our best to make it happen.
              </li>
              <li>
                &#9679; If you didn’t enjoy our products, we’d really appreciate your <a class="btn-a font-semibold text-title hover:text-title/80" href="{% url 'docs_contactus' %}">feedback</a>. Your thoughts help us improve and serve you better.
              </li>
            </ul>

            <p class="text-error text-sm font-semibold">By canceling your membership, you will no longer have access to our premium products after the current billing period ends.</p>
          </div>

          <div class="mt-6 flex items-center justify-around">
            <button data-modal-hide="staticModal-cancel" type="submit" class="btn-icon text-error hover:text-error/80 mr-auto" onclick="openLoader('-p-cancel', '', 'flex');hideModel('staticModal-cancel');">Cancel</button>
            <button onclick="hideModel('staticModal-cancel')" type="button" class="btn-icon mr-auto font-semibold">
              Keep it<svg class="h-3.5 aspect-auto ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M20 6 9 17l-5-5" />
              </svg>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}
