<div id='ch-password'>
    <form hx-post="{% url 'change-password' %}" hx-target='#ch-password' class="mx-auto w-full border border-text py-4 px-6 rounded-xl max-w-lg">
        <h5 class="text-title font-semibold mb-6">Change password</h5>
    {% csrf_token %}
    <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Your Email</label
    >
    <div class="relative mb-6">
        <div
        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
        <svg
            aria-hidden="true"
            class="w-5 h-5 text-gray-500 dark:text-gray-400"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
            d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
            ></path>
            <path
            d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
            ></path>
        </svg>
        </div>
        <input
        disabled
        type="text"
        name="email"
        id="email"
        value="{{user.email}}"
        class="bg-background border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="name@company.com"
        />
    </div>
    <label
        for="id_old_password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Password</label
    >
    <div class="relative mb-6">
        <div
        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
        <svg
            aria-hidden="true"
            class="w-5 h-5 text-gray-500 dark:text-gray-400"
            fill="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
            d="M20 12c0-1.103-.897-2-2-2h-1V7c0-2.757-2.243-5-5-5S7 4.243 7 7v3H6c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-8zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v3H9V7z"
            ></path>
        </svg>
        </div>
        <input
        name="old_password"
        type="password"
        id="id_old_password"
        class="bg-background border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="****************"
        />
    </div>

    <label
        for="id_new_password1"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >New Password</label
    >
    <div class="relative mb-6">
        <div
        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
        <svg
            aria-hidden="true"
            class="w-5 h-5 text-gray-500 dark:text-gray-400"
            fill="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
            d="M20 12c0-1.103-.897-2-2-2h-1V7c0-2.757-2.243-5-5-5S7 4.243 7 7v3H6c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-8zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v3H9V7z"
            ></path>
        </svg>
        </div>
        <input
        name="new_password1"
        type="password"
        id="id_new_password1"
        class="bg-background border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="****************"
        />
    </div>

        {% comment %} <div class="mb-2"> {% endcomment %}
    <label
        for="id_new_password2"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Confirm new Password</label
    >
    <div class="relative mb-6">
        <div
        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
        <svg
            aria-hidden="true"
            class="w-5 h-5 text-gray-500 dark:text-gray-400"
            fill="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
            d="M20 12c0-1.103-.897-2-2-2h-1V7c0-2.757-2.243-5-5-5S7 4.243 7 7v3H6c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2v-8zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v3H9V7z"
            ></path>
        </svg>
        </div>
        <input
        name="new_password2"
        type="password"
        id="id_new_password2"
        class="bg-background border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="****************"
        />
    </div>

    {{msg}}

    {% if error %}
        <div
            id="error-pay-submit-{{title}}"
            class="flex p-4 mb-4 text-sm text-red-800 rounded-lg dark:text-red-400"
            role="alert"
        >
            <svg
            aria-hidden="true"
            class="flex-shrink-0 inline w-5 h-5 mr-3"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            >
            <path
                fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                clip-rule="evenodd"
            ></path>
            </svg>
            <span class="sr-only">Info</span>
            <div><span class="font-medium">Error!</span> {{ error }}</div>
        </div>
    {% endif %}

    <button
        type="submit"
        class="mt-4 justify-center w-full dark:text-text text-text-light bg-primary focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#4285F4]/55 mr-2 mb-2"
    >
        Save
    </button>
    </form>
</div>
