<form
  hx-post="{% url 'update-tradingview-username' %}?pg=settings"
  hx-target="#tv-setting"
  class="mx-auto w-full border border-text py-4 px-6 rounded-xl max-w-lg mb-8"
>
  <h5 class="text-title font-semibold mb-6">Tradingview</h5>
  {% csrf_token %}

{% with drawer_id="drawer-tv-help" %}
  <div id="{{drawer_id}}" class="fixed top-0 right-0 z-[60] h-screen overflow-y-auto transition-transform translate-x-full w-[75vw] sm:w-[50vw]  bg-background" tabindex="-1" aria-labelledby="drawer-right-label">
    <div class="flex items-center justify-between bg-background sticky z-30 top-0 w-full py-6 px-4">

      <h5 id="drawer-right-label" class="inline-flex items-center text-base font-semibold text-text"><svg class="w-4 h-4 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>Tradingview username</h5> 
      <button type="button" onclick="hideDrawer('{{drawer_id}}')" class="text-title/60 bg-transparent hover:text-title rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" >
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
        <span class="sr-only">Close menu</span>
      </button>
    </div>

   <div class="text-text text-start px-4 my-4">
    {% include 'include/docs/find_username.html' %}
   </div>
</div>
{% endwith %}

  <label
    for="email"
    class="flex items-center justify-between mb-2 text-sm font-medium text-title w-full"
    ><span>Tradingview username</span> <button onclick="openDrawer('drawer-tv-help')" type="button" ><svg class="text-text hover:text-title h-[1.1rem] aspect-square transition-all" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"><path d="M12 6a3.939 3.939 0 0 0-3.934 3.934h2C10.066 8.867 10.934 8 12 8s1.934.867 1.934 1.934c0 .598-.481 1.032-1.216 1.626a9.208 9.208 0 0 0-.691.599c-.998.997-1.027 2.056-1.027 2.174V15h2l-.001-.633c.001-.016.033-.386.441-.793.15-.15.339-.3.535-.458.779-.631 1.958-1.584 1.958-3.182A3.937 3.937 0 0 0 12 6zm-1 10h2v2h-2z"></path><path d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm0 18c-4.411 0-8-3.589-8-8s3.589-8 8-8 8 3.589 8 8-3.589 8-8 8z"></path></svg></button></label
  >
  <div class="relative mb-6">
    <div
      class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
    >
      <svg
        aria-hidden="true"
        class="w-5 h-5 text-gray-500 dark:text-gray-400"
        fill="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8 12.052c1.995 0 3.5-1.505 3.5-3.5s-1.505-3.5-3.5-3.5-3.5 1.505-3.5 3.5 1.505 3.5 3.5 3.5zM9 13H7c-2.757 0-5 2.243-5 5v1h12v-1c0-2.757-2.243-5-5-5zm11.294-4.708-4.3 4.292-1.292-1.292-1.414 1.414 2.706 2.704 5.712-5.702z"
        ></path>
      </svg>
    </div>
    <input
      type="text"
      name="tradingview_username"
      id="tv_un"
      value="{{user_profile.tradingview_username}}"
      class="input-text  block w-full pl-10 p-2.5 "
      placeholder="username"
    />
  </div>

  <div id="tradingview_username_submit_error">
    {% if succes %}
    {% include 'include/succes.html' %}
    {% elif has_subscription %} 
    {% include 'include/infos.html' with info="By changing your tradingview username, the previous username will no longer have access to our strategies." %}
    {% else %} 
    {% include 'include/infos.html' with info="Choose one of our plans to get started and gain access." %}
    {% endif %} 
  </div>
{% if has_subscription %}
<button
type="submit"
id="btn-tv"
onclick="openLoader('', '-tv');"
class="btn-primary mt-4 mb-2 w-full"
>
Save
</button>
{% else %}
  <a
    id="btn-tv"
    class="btn-primary mt-4 mb-2 w-full"
    href="{% url 'membership' %}"
  >
    Choose a plan
  </a>
  {% endif %}
  <button
    id="spinner-tv"
    disabled
    type="button"
    class="mt-4 mb-2 hidden w-full dark:text-text text-text-light bg-primary focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 items-center justify-center"
  >
    <svg
      aria-hidden="true"
      role="status"
      class="inline w-4 h-4 mr-3 text-white animate-spin"
      viewBox="0 0 100 101"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="#E5E7EB"
      />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentColor"
      />
    </svg>
    Saving...
  </button>
</form>
