<form hx-post="{% url 'update-tradingview-username' %}?pg=settings" hx-target="#tv-setting" class="mx-auto rounded-md bg-text/5 backdrop-blur-3xl overflow-hidden w-full py-4 px-6 max-w-lg mb-8">
  <h5 class="text-title font-semibold mb-6">Tradingview</h5>
  {% csrf_token %}

  <label for="email" class="flex items-center justify-between input-label">
    <span>Tradingview username</span>
    <button onclick="openDrawer('drawer-tv-help')" type="button">
      <svg class="text-text hover:text-text/80 h-4 aspect-square transition-all" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-info-icon lucide-info">
        <circle cx="12" cy="12" r="10" />
        <path d="M12 16v-4" />
        <path d="M12 8h.01" />
      </svg>
    </button>
  </label>
  <div class="relative mb-6">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      <svg aria-hidden="true" class="w-5 h-5 text-text/60" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 12.052c1.995 0 3.5-1.505 3.5-3.5s-1.505-3.5-3.5-3.5-3.5 1.505-3.5 3.5 1.505 3.5 3.5 3.5zM9 13H7c-2.757 0-5 2.243-5 5v1h12v-1c0-2.757-2.243-5-5-5zm11.294-4.708-4.3 4.292-1.292-1.292-1.414 1.414 2.706 2.704 5.712-5.702z"></path>
      </svg>
    </div>
    <input type="text" name="tradingview_username" id="tv_un" value="{{ user_profile.tradingview_username }}" class="input-text block w-full pl-10 p-2.5" placeholder="username" autocomplete="off" />
  </div>

  <div id="tradingview_username_submit_error">
    {% if succes %}
      {% include 'include/succes.html' %}
    {% elif has_subscription %}
      {% include 'include/infos.html' with info='By changing your tradingview username, the previous username will no longer have access to our strategies.' %}
    {% else %}
      {% comment %} {% include 'include/infos.html' with info='Choose one of our plans to get started and gain access.' %} {% endcomment %}
    {% endif %}
  </div>
  <button type="submit" id="btn-tv" onclick="openLoader('', '-tv', 'flex');" class="btn-primary mt-4 mb-2 w-full">Save</button>

  <button id="spinner-tv" disabled type="button" class="mt-4 mb-2 w-full btn-primary items-center hidden">
    Saving {% include 'svg/spinner.html' with class="ml-1 h-3.5" %}
  </button>
</form>

{% load custom_tags %}
{% render_template 'include/docs/find_username.html' as info_content %}

{% include 'include/drawer_modal.html' with drawer_id='drawer-tv-help' title='Tradingview username' body=info_content %}
