{% extends 'page.html' %}

{% block head_title %}
  <title>IsAlgo | Request Access to TradingView Strategies | Manage Your Permissions</title>
{% endblock %}

{% block head_description %}
  <meta name="description" content="Manage and request access to premium TradingView strategies. View your current permissions, request new strategy access, and start optimizing your trading experience with IsAlgo." />
{% endblock %}

{% block page %}
  <h1 class="main-title">Access</h1>

  <main class="mt-0 mb-16 w-full">
    <div class="my-4 max-w-2xl mx-auto">
      {% if user_profile.tradingview_username %}
        {% include 'include/infos.html' with xclose='alert_to_red' info="Here's where you can manage access to all of our strategies. We're using your tradingview username to check. <a class='text-primary font-medium' href='/my/settings/'>Click here</a> if you want to change it." %}
      {% endif %}
    </div>
    <div class="w-full max-w-2xl mx-auto" id="access-main">
      {% include 'include/access_list.html' %}
    </div>
  </main>
{% endblock %}
