{% extends 'page.html' %} 

{% block head %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock head %}

{% block page %}


<main class="my-16 flex flex-col  relative">
  {% if congrate %}
  <div
    class="flex items-center p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-background dark:text-green-400 dark:border-green-800"
    role="alert"
  >
    <svg
      class="flex-shrink-0 inline w-4 h-4 mr-3"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      viewBox="0 0 20 20"
    >
      <path
        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
      />
    </svg>
    <span class="sr-only">Info</span>
    <div>
      <span class="font-medium">You have successfully subscribed to our membership
    </div>
  </div>
  {%endif%}
  <div class="mx-auto">
    <ol class="items-center w-full space-y-4 sm:flex sm:space-x-8 sm:space-y-0">
      <li
        class="flex items-center {% if step == 1 %} text-secondary {% else %} text-gray-500 dark:text-gray-400 {% endif %} space-x-2.5"
      >
        <span
          class="flex items-center justify-center w-8 h-8 border {% if step == 1 %} border-secondary {% else %} border-gray-500 dark:border-gray-400 {% endif %} rounded-full shrink-0"
        >
          1
        </span>
        <span>
          <h3 class="font-medium leading-tight">Choose a plan</h3>
          <p class="text-sm">Choose your desire plan to <br />get started</p>
        </span>
      </li>
      <li
        class="flex items-center {% if step == 2 %} text-secondary {% else %} text-gray-500 dark:text-gray-400 {% endif %} space-x-2.5"
      >
        <span
          class="flex items-center justify-center w-8 h-8 border {% if step == 2 %} border-secondary {% else %} border-gray-500 dark:border-gray-400 {% endif %} rounded-full shrink-0"
        >
          2
        </span>
        <span>
          <h3 class="font-medium leading-tight">Set your username</h3>
          <p class="text-sm">Set your trading view username</p>
        </span>
      </li>
      <li
        class="flex items-center {% if step == 3 %} text-secondary {% else %} text-gray-500 dark:text-gray-400 {% endif %} space-x-2.5"
      >
        <span
          class="flex items-center justify-center w-8 h-8 border {% if step == 3 %} border-secondary {% else %} border-gray-500 dark:border-gray-400 {% endif %} rounded-full shrink-0"
        >
          3
        </span>
        <span>
          <h3 class="font-medium leading-tight">You're ready</h3>
          <p class="text-sm">
            All done, visit trading view and<br />
            start using our systems.
          </p>
        </span>
      </li>
    </ol>
  </div>

  {%if step == 1%}
  <section class="mt-14 text-center">
    <h4 class="text-title">Select one of our plans to get started.</h4>

    <div class="mt-6 mx-auto max-w-2xl w-full flex flex-col md:flex-row items-center justify-center gap-8 text-left">
      {%include "include/price_item.html" with title="MONTHLY" price="99" %}
      {%include "include/price_item.html" with title="QUARTERLY" price="345" %}
      {%include "include/price_item.html" with title="YEARLY" price="898" %}
    </div>
  </section>
  {% elif step == 2 %}

  <section class="mt-14">
    <h4 class="text-title text-center">Confirm your tradingview user name.</h4>
    <p class="text-text text-center mt-2">
      Go to your
      <a
        class="text-title font-semibold underline"
        href="https://www.tradingview.com/"
        target="_blank"
        >TradingView</a
      >
      profile to copy your username and past it <br />
      inside the field.
    </p>
    <div class="mt-6 w-full flex flex-col sm:flex-row items-center justify-center gap-8">
      <form hx-post="{% url 'update-tradingview-username' %}" class="mb-2 pt-3">
        {% csrf_token %}
        <label
          for=""
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Tradingview username</label
        >
        <div class="relative mb-4">
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 12.052c1.995 0 3.5-1.505 3.5-3.5s-1.505-3.5-3.5-3.5-3.5 1.505-3.5 3.5 1.505 3.5 3.5 3.5zM9 13H7c-2.757 0-5 2.243-5 5v1h12v-1c0-2.757-2.243-5-5-5zm11.294-4.708-4.3 4.292-1.292-1.292-1.414 1.414 2.706 2.704 5.712-5.702z"
              ></path>
            </svg>
          </div>
          <input
            type="text"
            name="tradingview_username"
            id=""
            value='{{user_profile.tradingview_username}}'
            class="bg-background border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block pl-10 p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="UserName"
          />
        </div>

        <button
          type="submit"
          id=""
          class="block max-w-full w-full mx-auto btn-secondary"
        >
          Submit
        </button>
      </form>
      <div class="max-w-xl">
        <img
          class="rounded-xl"
          src="https://firebasestorage.googleapis.com/v0/b/automated-trader-fd733.appspot.com/o/files%2Fvideos%2Ftrading_view_user_name_find.gif?alt=media&token=7f7475ea-879b-454f-b251-38ab1e9a9ddb"
        />
      </div>
    </div>
  </section>
  {%else%}
  <section class="mt-16 text-center">
    <h4 class="text-title">You're ready to go.</h4>
    <p class="text-text text-center mt-2">
        Go to your
        <a
          class="text-title font-semibold underline"
          href="https://www.tradingview.com/"
          target="_blank"
          >TradingView</a
        >
        chart and you will find all of our systems <br />
        under the invite only scripts.
      </p>

      <div class="max-w-xl mt-6 mx-auto">
        <img
          class="rounded-xl"
          src="https://firebasestorage.googleapis.com/v0/b/automated-trader-fd733.appspot.com/o/files%2Fvideos%2Ftrading_view_find_invite_scipts.gif?alt=media&token=c6cf5732-7fdd-40c0-b56b-09724af58ce4" />
      </div>
  </section>
  {%endif%} {%if congrate %} {%include "include/congrate.html" %} {%endif %}
</main>

{% endblock page %}
