{% extends 'page.html' %} 
{% load custom_tags %}

{% block head %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock head %}

{% block page %}


{% if step > 3 %}
{% include "include/home.html" %}
{% else %}

<main class="my-16 flex flex-col  relative">
  {% if congrate %}
  <div
    class="mb-4 "
  >
    {% include "include/succes.html" with succes="You have successfully subscribed to our membership." %}
  </div>
  {%endif%}
  {% if step <= 3 %}
  <div class="mx-auto">
    <ol class="items-center w-full space-y-4 sm:flex sm:space-x-8 sm:space-y-0">
      <li
        class="flex items-center {% if step == 1 %} text-secondary {% else %} text-text/60 {% endif %} space-x-2.5"
      >
        <span
          class="flex items-center justify-center w-8 h-8 border {% if step == 1 %} border-secondary {% else %} border-text/60 {% endif %} rounded-full shrink-0"
        >
          1
        </span>
        <span>
          <h3 class="font-medium leading-tight">Choose a plan</h3>
          <p class="text-sm">Choose your desire plan to <br />get started</p>
        </span>
      </li>
      <li
        class="flex items-center {% if step == 2 %} text-secondary {% else %} text-text/60 {% endif %} space-x-2.5"
      >
        <span
          class="flex items-center justify-center w-8 h-8 border {% if step == 2 %} border-secondary {% else %} border-text/60 {% endif %} rounded-full shrink-0"
        >
          2
        </span>
        <span>
          <h3 class="font-medium leading-tight">Set your username</h3>
          <p class="text-sm">Set your trading view username</p>
        </span>
      </li>
      <li
        class="flex items-center {% if step == 3 %} text-secondary {% else %} text-text/60 {% endif %} space-x-2.5"
      >
        <span
          class="flex items-center justify-center w-8 h-8 border {% if step == 3 %} border-secondary {% else %} border-text/60 {% endif %} rounded-full shrink-0"
        >
          3
        </span>
        <span>
          <h3 class="font-medium leading-tight">You're ready</h3>
          <p class="text-sm">
            All done, visit trading view and<br />
            start using our systems.
          </p>
        </span>
      </li>
    </ol>
  </div>
  {% endif %}

  {%if step == 1%}
  <section class="mt-14 text-center">
    <h4 class="text-title">Select one of our plans to get started.</h4>

    {% if prices|get_item:"LIFETIME" %}

    <div class="text-left mt-6 w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 items-center justify-center gap-8">
      {% include "include/price_item.html" with title="MONTHLY" %}
      {% include "include/price_item.html" with title="QUARTERLY" save="Save $39" %}
      {% include "include/price_item.html" with title="YEARLY" save="Save $197" %}
      {% include "include/price_item.html" with title="LIFETIME" save="Pay once" %}
    </div>


    <div class="text-left max-w-3xl mx-auto mt-16">
      {% include "include/infos.html" with info="<span class='font-semibold'>LIFETIME membership</span> is designed to support our company's efforts in improving and developing more trading strategies. Lifetime members will receive priority access to our beta strategies. <br/>LIFETIME membership can expire and may no longer be available at any time." %}
    </div>

    {% else %}

    <div class="text-left mt-6 w-full flex flex-col md:flex-row items-center justify-center gap-8">
      {% include "include/price_item.html" with title="MONTHLY" %}
      {% include "include/price_item.html" with title="QUARTERLY" save="Save $39" %}
      {% include "include/price_item.html" with title="YEARLY" save="Save $197" %}
    </div>

    {% endif %}
  </section>
  {% elif step == 2 %}

  <section class="mt-14">
    <p class="text-text text-center mt-2">
      Go to your  
      <a
        class="text-title font-medium underline"
        href="https://www.tradingview.com/?aff_id=134591&aff_sub=134591&source=134591"
        target="_blank"
        >TradingView</a
      >
      profile to copy your username and paste it inside the field. <br/>The video below demonstrates where you can find your TradingView username.
    </p>
    <div class="mt-6 w-full flex flex-col sm:flex-row items-center justify-center gap-8">
      <form hx-post="{% url 'update-tradingview-username' %}" class="mb-2 pt-3 max-w-sm w-72">
        {% csrf_token %}
        <label
          for=""
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Tradingview username</label
        >
        <div class="relative mb-4 w-full">
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5 text-text/40"
              fill="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 12.052c1.995 0 3.5-1.505 3.5-3.5s-1.505-3.5-3.5-3.5-3.5 1.505-3.5 3.5 1.505 3.5 3.5 3.5zM9 13H7c-2.757 0-5 2.243-5 5v1h12v-1c0-2.757-2.243-5-5-5zm11.294-4.708-4.3 4.292-1.292-1.292-1.414 1.414 2.706 2.704 5.712-5.702z"
              ></path>
            </svg>
          </div>
          <input
          type="text"
          name="tradingview_username"
          id=""
          value='{{user_profile.tradingview_username}}'
          class="w-full   block pl-10 p-2.5 input-text"
          placeholder="UserName"
          />
        </div>
        
        <div class="mt-1 mb-3" id="tradingview_username_submit_error"> {% include "include/errors.html" %} </div>
        <button
          type="submit"
          id=""
          class="block max-w-full w-full mx-auto btn-secondary"
        >
          Submit
        </button>
      </form>
      <div class="max-w-xl">
        <video
        class="aspect-video w-full mr-auto my-3 rounded max-w-2xl"
        muted=""
        controls="controls"
        >
        <source
          src="https://isalgotest.s3.amazonaws.com/docs/copy_username.mp4"
          type="video/mp4"
        />
      </video>
        <!-- <img
          class="rounded-xl"
          src="https://firebasestorage.googleapis.com/v0/b/automated-trader-fd733.appspot.com/o/files%2Fvideos%2Ftrading_view_user_name_find.gif?alt=media&token=7f7475ea-879b-454f-b251-38ab1e9a9ddb"
        /> -->
      </div>
    </div>
  </section>
  {% elif step == 3 %}
  <section class="mt-16 text-center">
    <h4 class="text-title">You're ready to go.</h4>
    <p class="text-text text-center mt-2">
        Go to your
        <a
          class="text-title font-semibold underline"
          href="https://www.tradingview.com/"
          target="_blank"
          >TradingView</a
        >
        chart and you will find all of our systems <br />
        under the invite only scripts.
      </p>

      <div class="max-w-xl mt-6 mx-auto">
        <video
        class="aspect-video w-full mr-auto my-3 rounded max-w-2xl"
        muted=""
        controls="controls"
      >
        <source
          src="https://isalgotest.s3.amazonaws.com/docs/find_strategies.mp4"
          type="video/mp4"
        />
      </video>
        <!-- <img
          class="rounded-xl"
          src="https://firebasestorage.googleapis.com/v0/b/automated-trader-fd733.appspot.com/o/files%2Fvideos%2Ftrading_view_find_invite_scipts.gif?alt=media&token=c6cf5732-7fdd-40c0-b56b-09724af58ce4" /> -->
      </div>
  </section>

  {%endif%} {%if congrate %} {%include "include/congrate.html" %} {%endif %}
</main>
{% endif %}
<!-- <iframe class="" oFjD8qE2 src="https://s.tradingview.com/embed/oFjD8qE2"></iframe> -->

{% endblock page %}
