{% extends 'page.html' %}
{% load custom_tags %}

{% block head %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock head %}

{% block page %}

    {% if subscription %}
    <h1 class="mt-8 text-left text-6xl text-title font-extrabold">Membership</h1>
    <div class=" mt-4">
        <p class="text-left text-title text-lg font-semibold">You're subscribing to our <span class="text-title font-extrabold">{{ subscription_plan }}</span> plan.</p>
        {% if subscription_status == 'canceled' %}
        <p class="mt-2 text-left text-title text-base">Your subscription was canceled, end on <span class="text-title">{{ subscription_period_end|date:'M d Y' }}</span></p>
        {% else %}
        <p class="mt-2 text-left text-title text-base">Your subscription renew on <span class="text-title">{{ subscription_period_end|date:'M d Y' }}</span></p>
        {% endif %}
    </div>
    {%else%}
    <h1 class="mt-8 text-center text-6xl text-title font-extrabold">Choose your plan and unlock access to<br/> <span class="bg-clip-text bg-gradient-to-tl to-primary from-secondary text-transparent">all of our strategies<span></h1>
    {%endif%}

    <main class="mt-8 mb-16">

        {% if prices|get_item:"LIFETIME" %}

        <div class="mt-14 w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 items-center justify-center gap-8">
            {% include "include/price_item.html" with title="MONTHLY" %}
            {% include "include/price_item.html" with title="QUARTERLY" %}
            {% include "include/price_item.html" with title="YEARLY" %}
            {% include "include/price_item.html" with title="LIFETIME" %}
        </div>

        <div class="max-w-3xl mx-auto text-sm flex p-4 mt-16 text-title/60 bg-secondary/30 border-[1px] border-secondary/60 rounded" role="alert">
            <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Info</span>
            <div>
             <p><span class="font-semibold">LIFETIME membership</span> is designed to support our company's efforts in improving and developing more trading strategies. Lifetime members will receive priority access to our beta strategies. <br/>LIFETIME membership can expire and may no longer be available at any time.</p>
            </div>
        </div>

        {% else %}

        <div class="mt-14 w-full flex flex-col md:flex-row items-center justify-center gap-8">
            {% include "include/price_item.html" with title="MONTHLY" price="99" %}
            {% include "include/price_item.html" with title="QUARTERLY" price="345" %}
            {% include "include/price_item.html" with title="YEARLY" price="898" %}
        </div>

        {% endif %}

        
        

    </main> 

{% endblock page %}