{% extends 'page.html' %} 

{% block head_title %}
  <title>IsAlgo | Account Settings | Manage Profile, Trading Connections & Membership</title>
{% endblock %}

{% block head_description %}
  <meta name="description" content="Update your profile, connect TradingView and Discord accounts, manage payment methods, memberships, AI tokens, and more. Customize your IsAlgo experience easily from your account settings page.">
{% endblock %}

{% block page %}

<h1 class="main-title">Settings</h1>

<main class="mt-8 mb-16 flex gap-8 w-full">
  <div class="w-full mx-auto columns-1 sm:columns-1 gap-4">
    <div
      id="tv-setting"
      hx-on="hide-animate: setTimeout(function(){hideAll_hideMe();}, 1000);"
    >
      {% include 'include/settings/tradingview.html' %}
    </div>
    
    <div
      id="discord-setting"
      hx-on="hide-animate: setTimeout(function(){hideAll_hideMe();}, 1000);"
    >
      {% include 'include/settings/discord.html' %}
    </div>

    {% include 'include/settings/payment_methods.html' %}
    
    <div id="setting-membership" >
      {% include 'include/settings/membership.html' %}
    </div>
    
    {% comment %} <div id="setting-ai-tokens" >
      {% include 'include/settings/ai_tokens.html' %}
    </div> {% endcomment %}
      
    {% comment %} <div id="setting-emails-notifications" >
      {% include 'include/settings/emailsandnotifications.html' %}
    </div> {% endcomment %}


    {% if user.has_usable_password %}
      {% include 'include/settings/password.html' %}
    {% else %}
      {% comment %} <div class="mt-6 p-4 max-w-lg mx-auto bg-warning/10 rounded">
        <p class="text-warning">
          It looks like you signed up using Google Sign-In and don’t have a local password set.
          <a href="{% url 'account_set_password' %}" class="text-primary underline">Create a password</a>
          to secure your account.
        </p> 
      </div>{% endcomment %}
    {% endif %}
  </div>
  
</main>


{% endblock page %}
