{% extends 'page.html' %} {% block head %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock head %} {% block page %}

<h1 class="main-title">Settings</h1>

<main class="mt-8 mb-16 flex gap-8 w-full">
  <div class="w-full max-w-xl mx-auto">
    <div
      id="tv-setting"
      hx-on="hide-animate: setTimeout(function(){hideAll_hideMe();}, 1000);"
    >
      {% include 'include/settings/tradingview.html' %}
    </div>
    <div
      id="discord-setting"
      hx-on="hide-animate: setTimeout(function(){hideAll_hideMe();}, 1000);"
    >
      {% include 'include/settings/discord.html' %}
    </div>
      {% include 'include/settings/payment_methods.html' %}
    <div id="setting-membership">
      {% include 'include/settings/membership.html' %}
    </div>
      {% include 'include/settings/password.html' %}
  </div>
  
</main>


{% endblock page %}
