<!-- templates/_base.html -->

{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iSalgo | Elevate your trading to the next level</title>
    <link
      rel="icon"
      href="{% static '/images/logo.png' %}"
      type="image/x-icon"
    />
    {% block head %} {% endblock head %} {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script src="{% static 'js/index.js' %}" defer></script>
  </head>

  <body class="bg-background flex flex-col min-h-screen overflow-x-hidden">
    {% include 'navbar.html' %}

    <div
      class="container mx-auto mt-4 grow flex flex-col px-6 relative overflow-x-clip sm:overflow-x-visible"
    >
      {% block page %} {% endblock page %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    {% include 'footer.html' %}
  </body>
</html>
