<!-- templates/_base.html -->

{% load compress %} {% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en" class="max-w-screen overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% block head_title %}
      <title>IsAlgo | Backtestable Trading Systems for All Skill Levels | TradingView Strategies</title>
    {% endblock %}
    {% block head_description %}
      <meta name="description" content="Unlock powerful TradingView strategies to enhance your trading performance. Whether you're a beginner or a pro, discover backtestable, automatable systems crafted to work across any market and timeframe. Start optimizing your trades today with IsAlgo." />
    {% endblock %}

    <!-- This is for search engines and won't affect the actual URL directly, but it's a good practice to ensure your slug is reflected in the URL structure managed by your server or CMS -->
    <link rel="canonical" href="https://www.isalgo.com/easy-trading-strategies-for-all-levels" />
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon" />
    <link rel="icon" sizes="16x16" href="{% static 'images/logo_img_16_16.png' %}" />
    <link rel="icon" sizes="32x32" href="{% static 'images/logo_img_32_32.png' %}" />
    <link rel="icon" sizes="48x48" href="{% static 'images/logo_img_48_48.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/logo_img_180_180.png' %}" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="{% static 'images/seo-meta-img.png' %}" />

    <!-- Open Graph / Facebook meta tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="IsAlgo" />
    <meta property="og:description" content="Dive into trading strategies that work across any market and timeframe. Perfect for both beginners and advanced traders, our guide offers backtestable and automatable solutions to elevate your trading game." />
    <meta property="og:url" content="https://www.isalgo.com" />
    <meta name="og:image" content="{% static 'images/seo-meta-img.png' %}" />

    <!-- Twitter Card meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="IsAlgo" />
    <meta name="twitter:description" content="Dive into trading strategies that work across any market and timeframe. Perfect for both beginners and advanced traders, our guide offers backtestable and automatable solutions to elevate your trading game." />
    <meta name="twitter:url" content="https://www.isalgo.com" />
    <meta name="twitter:image" content="{% static 'images/seo-meta-img.png' %}" />

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}

    <script type="text/javascript">
      // Load theme
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>

    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      const stripe_public_key = '{{ stripe_public_key }}'
    </script>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script src="{% static 'js/index.js' %}" defer></script>
    <script src="{% static 'js/modals.js' %}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>

    {% block head %}

    {% endblock %}
    <!-- Google Tag Manager -->
    <script>
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, 'script', 'dataLayer', 'GTM-WZRB9CDM')
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7B05SE08Q7"></script>
  <script>
    window.dataLayer = window.dataLayer || []
    function gtag() {
      dataLayer.push(arguments)
    }
    gtag('js', new Date())
    
    gtag('config', 'G-7B05SE08Q7')
  </script>
  <!-- end Google tag -->

  <body class="bg-background flex flex-col min-h-screen relative max-w-full mx-auto overflow-x-clip">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WZRB9CDM" height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% block toppage %}

    {% endblock %}
    {% comment %} {% include 'sidenav.html' %} {% endcomment %}
    <main id="main-div" class="container mx-auto grow flex flex-col px-1 relative">
      {% block navbar %}
        {% include 'navbar.html' %}
      {% endblock %}

      <div class="min-h-[90vh] flex flex-col relative px-2" id="page-main-div">
        {% if user_profile and user_profile.seller_account_id and not user_profile.seller_account_verified %}
          {% url 'complete_seller_account_onboarding' as complete_seller_account_onboarding_url %}
          {% include 'include/warnings.html' with class='my-2 w-full' close_id='complete-seller-account' warning='Your seller account is not yet fully verified. To start selling your strategies, please complete the onboarding process <a href="'|add:complete_seller_account_onboarding_url|add:'" class="underline font-semibold">here</a>.' %}
        {% endif %}

        {% if subscription_status == 'past_due' and request.resolver_match.view_name != 'membership' %}
          {% url 'membership' as membership_url %}
          {% include 'include/warnings.html' with class='my-2 w-full' close_id='past-due-subscription' warning='We couldn`t complete your last payment, and as a result, your access to our trading strategies may be at risk. Please update your payment method to <a href="'|add:membership_url|add:'" class="underline font-semibold">reactivate your membership here</a>.' %}
        {% endif %}

        {% if user.is_authenticated and not has_subscription and show_banner and subscription_status != 'past_due' %}
          {% include 'include/subscribe_banner.html' %}
        {% endif %}

        {% block page %}

        {% endblock %}
      </div>

      {% if user.is_authenticated and not has_subscription and request.resolver_match.view_name != 'membership' %}
        <div class="min-h-[90vh] flex-col relative hidden" id="home-get-started" hide-backdrop>
          {% include 'include/home_get_started.html' with step=1 %}
        </div>
      {% endif %}

      {% block footer %}
        {% include 'footer.html' %}
      {% endblock %}
    </main>

    {% if user.is_authenticated and not has_subscription and coupon.off %}
      {% include 'include/infos.html' with close_id='coupon-code-off' class='bg-text/20 backdrop-blur-2xl !fixed bottom-10 mx-6 left-1/2 -translate-x-1/2 bg-accent' info='Use coupon code <span class="font-semibold tracking-wider">'|add:coupon.code|add:'</span> at checkout to get a <span class="font-semibold">'|add:coupon.off|add:'</span> discount.' %}
    {% endif %}

    {% include 'include/modal_images_main.html' %}
  </body>
</html>
