@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      --color-primary: 260 100% 30%;
      --color-secondary: 178 40% 52%;
      --color-accent: 229 76% 72%;
      --color-background: 188 16% 92%;
      --color-text: 0 0% 20%;
      --color-text-light: 0 0% 80%;
      --color-title: 0 0% 0%;
      --color-title-light: 0 0% 100%;
    }
  
    :root[class~="dark"] {
      --color-primary: 260 100% 30%;
      --color-secondary: 178 40% 52%;
      --color-accent: 229 76% 72%;
      /* --color-accent: 8 78% 68%; */
      --color-background: 188 25% 4%;
      --color-text: 0 0% 80%;
      --color-text-light: 0 0% 80%;
      --color-title: 0 0% 100%;



      ::-webkit-calendar-picker-indicator {
        filter: invert(1);
      }
    }

    *{
     font-family: "lato","Sora","Manrope", sans-serif; 
     line-height: 150%;
    }

    html, h1, h2, h3, h1 span, h2 span, h3 span, h4 span, h5 span{
      /* font-family: "Bree Serif", serif; */
      /* letter-spacing: 1.1px; */
      /* line-height: normal; */
    }
    
    p, span, input, select, textarea, button, p, h4, h5, h6, a , label, th, tr{
      /* font-family: "Manrope", sans-serif; */
    }

  }

@layer components {
  .btn-primary-landing{
    @apply relative flex items-center justify-center bg-gradient-to-tr from-accent  to-secondary hover:bg-gradient-to-bl mx-auto mb-6 mt-3 text-title dark:text-background font-semibold text-lg px-4 md:px-16 py-1.5 rounded-md whitespace-nowrap border-0;
  }
  .btn-primary-landing::before{
    content: "";
    @apply absolute inset-0 bg-gradient-to-tr hover:bg-gradient-to-bl from-accent  to-secondary blur-md -z-10 rounded-lg scale-100 ;
  }

  .btn-primary {
    @apply dark:text-text text-text-light bg-gradient-to-r from-primary via-primary/90 to-primary/80  hover:bg-gradient-to-l font-medium rounded text-sm px-3 py-2 text-center inline-flex  justify-center items-center;
  }

  .btn-secondary {
    @apply dark:text-background text-title bg-gradient-to-r from-secondary via-secondary/90 to-secondary/80  hover:bg-gradient-to-l font-medium rounded text-sm px-3 py-1 text-center inline-flex  justify-center items-center;
  }

  .btn-accent {
    @apply dark:text-background text-text bg-gradient-to-r from-accent via-accent/90 to-accent/80  hover:bg-gradient-to-l font-medium rounded text-sm px-3 py-1 text-center inline-flex  justify-center items-center;
  }

  .btn-text {
    @apply text-background bg-gradient-to-r from-text via-text/90 to-text/80  hover:bg-gradient-to-l font-medium rounded text-sm px-3 py-1 text-center inline-flex  justify-center items-center;
  }

  .btn-a {
    @apply text-text font-medium rounded text-sm py-1 text-center inline-flex  justify-center items-center;
  }

  .btn-icon {
    @apply text-title/60 bg-transparent hover:text-title rounded-lg text-sm p-1.5 ml-auto inline-flex items-center;
  }

  .input-text{
    @apply bg-transparent border border-text/40 px-2.5 py-2 text-text text-base rounded-md focus:ring-accent  placeholder:text-text/40
  }

  .input-checkbox{
    @apply text-accent bg-background border-title/40 rounded
  }
}


@layer utilities {

    .wellcome-before {
      @apply absolute text-title border-r-2 border-title top-[-100%] left-0 w-0 h-[100%] overflow-hidden animate-animate;
    }
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    [modal-backdrop] {
      @apply bg-background/80 brightness-125 bg-opacity-80 z-40
    }

    [drawer-backdrop] {
      @apply bg-background/80 brightness-125 bg-opacity-80 z-50
    }
  
}

.hideMe {
  animation: cssAnimation 6s forwards;
}
@keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
.move-animation {
  transition: transform 4s ease-in-out; /* Adjust duration as needed */
}

/* Apply the class to the divs initially */
#home-blur-1.move-animation,
#home-blur-2.move-animation,
#home-blur-3.move-animation,
#home-blur-4.move-animation {
  transform-origin: center;
  transform: translate(0, 0) scale(1);
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Text selection */
::-moz-selection { /* Code for Firefox */
  color: hsl(178 ,40%, 52%);
  /* background: hsl(var(--color-secondary)); */
}

::selection {
  color: hsl(178 ,40%, 52%);
  /* background: hsl(var(--color-secondary)); */
}