@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');


@layer base {
    :root {
      --color-primary: 260 100% 30%;
      --color-secondary: 178 40% 52%;
      --color-accent: 229 76% 72%;
      --color-background: 188 16% 92%;
      --color-text: 0 0% 20%;
      --color-text-light: 0 0% 80%;
      --color-title: 0 0% 0%;
    }
  
    :root[class~="dark"] {
      --color-primary: 260 100% 30%;
      --color-secondary: 178 40% 52%;
      --color-accent: 229 76% 72%;
      /* --color-accent: 8 78% 68%; */
      --color-background: 188 25% 5%;
      --color-text: 0 0% 80%;
      --color-text-light: 0 0% 80%;
      --color-title: 0 0% 100%;



      ::-webkit-calendar-picker-indicator {
        filter: invert(1);
      }
    }

    html, h1 span, h2 span, h3 span, h4 span, h5 span{
      font-family: 'Arvo', serif;
    }
    
    p, span, input, select, textarea, button, p, h4, h5, h6, a , label, th, tr{
      font-family: 'Kanit', sans-serif;
    }

  }

@layer components {
  .btn-primary-landing{
    @apply flex items-center justify-center bg-gradient-to-tr from-background via-secondary/40 to-secondary/20 hover:bg-gradient-to-bl mx-auto mb-6 mt-3 text-secondary font-semibold text-xl px-4 md:px-16 py-1.5 rounded-md whitespace-nowrap border-0;
  }

  .btn-primary {
    @apply dark:text-text text-text-light bg-gradient-to-r from-primary via-primary/90 to-primary/80  hover:bg-gradient-to-l font-medium rounded text-sm px-3 py-2 text-center inline-flex  justify-center items-center;
  }

  .btn-secondary {
    @apply dark:text-background text-title bg-gradient-to-r from-secondary via-secondary/90 to-secondary/80  hover:bg-gradient-to-l font-medium rounded text-sm px-3 py-1 text-center inline-flex  justify-center items-center;
  }

  .btn-accent {
    @apply dark:text-background text-text bg-gradient-to-r from-accent via-accent/90 to-accent/80  hover:bg-gradient-to-l font-medium rounded text-sm px-3 py-1 text-center inline-flex  justify-center items-center;
  }

  .btn-text {
    @apply text-background bg-gradient-to-r from-text via-text/90 to-text/80  hover:bg-gradient-to-l font-medium rounded text-sm px-3 py-1 text-center inline-flex  justify-center items-center;
  }

  .input-text{
    @apply bg-transparent border border-text/40 px-2.5 py-2 text-text text-base rounded-md focus:ring-accent  placeholder:text-text/40
  }

  .input-checkbox{
    @apply text-accent bg-background border-title/40 rounded
  }
}


@layer utilities {

    .wellcome-before {
      @apply absolute text-title border-r-2 border-title top-[-100%] left-0 w-0 h-[100%] overflow-hidden animate-animate;
    }
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    [modal-backdrop] {
      @apply bg-background/80 brightness-110 bg-opacity-80
    }
}

.hideMe {
  animation: cssAnimation 6s forwards;
}
@keyframes cssAnimation {
  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}
}
.move-animation {
  transition: transform 4s ease-in-out; /* Adjust duration as needed */
}

/* Apply the class to the divs initially */
#home-blur-1.move-animation,
#home-blur-2.move-animation,
#home-blur-3.move-animation,
#home-blur-4.move-animation {
  transform-origin: center;
  transform: translate(0, 0) scale(1);
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Text selection */
::-moz-selection { /* Code for Firefox */
  color: hsl(178 ,40%, 52%);
  /* background: hsl(var(--color-secondary)); */
}

::selection {
  color: hsl(178 ,40%, 52%);
  /* background: hsl(var(--color-secondary)); */
}