@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      --color-primary: 265 100% 35%;
      --color-secondary: 178 98% 27%;
      --color-accent: 58 75% 40%;
      --color-background: 188 16% 92%;
      --color-text: 0 0% 20%;
      --color-text-light: 0 0% 90%;
      --color-title: 0 0% 0%;
    }
  
    :root[class~="dark"] {
      --color-primary: 265 100% 35%;
      --color-secondary: 178 98% 27%;
      --color-accent: 58 75% 40%;
      --color-background: 188 16% 17%;
      --color-text: 0 0% 90%;
      --color-text-light: 0 0% 90%;
      --color-title: 0 0% 100%;
    }

  }

html {
    /* background-color: var(--theme-color); */
}

@layer utilities {
    .wellcome-before {
        @apply absolute text-title border-r-2 border-title top-[-100%] left-0 w-0 h-[100%] overflow-hidden animate-animate
    }
}