{% extends 'page.html' %} {% load static %}

{% block head_title %}
  <title>{{ overview_data.win_rate|default:'0' }}% win rate | {{ account.name }}</title>
{% endblock %}

{% block head_description %}
  <meta name="description" content="{{ account.broker_type }} account overview for {{ account.name }} with a {{ overview_data.win_rate|default:'0' }}% win rate" />
{% endblock %}

{% block head %}
  <!-- Load Chart.js library -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{% static 'js/chart.js' %}"></script>
{% endblock %}

{% block page %}
  <section class="mt-2">
    {% if account.broker_type == 'mexc' or account.broker_type == 'okx' %}
      {% include 'svg/automate_svg_by_name.html' with broker_type=account.broker_type class='h-5 aspect-auto fill-text/80 text-text/80 mb-2' %}
    {% else %}
      {% include 'svg/automate_svg_by_name.html' with broker_type=account.broker_type class='h-6 aspect-auto fill-text/80 text-text/80 mb-2' %}
    {% endif %}

    {% comment %} <h2 class="text-lg font-bold text-title/80">{{ account.name }}</h2> {% endcomment %}
  </section>

  {% comment %}
  <section class="mt-6 w-full border border-text/10 p-4 rounded-lg">
    <h4 class="text-sm sm:text-base font-semibold text-title/80 mb-4">Overall</h4> {% endcomment %}
    <section class="mt-4 w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      {% include 'include/dash/trades_card.html' with title='Total trades' value=overview_data.trades win_rate=overview_data.win_rate loss=overview_data.losing_trades win=overview_data.winning_trades %}
      {% include 'include/dash/trades_card.html' with title='Buy trades' value=overview_data.buy_trades win_rate=overview_data.buy_win_rate loss=overview_data.buy_losing_trades win=overview_data.buy_winning_trades %}
      {% include 'include/dash/trades_card.html' with title='Sell trades' value=overview_data.sell_trades win_rate=overview_data.sell_win_rate loss=overview_data.sell_losing_trades win=overview_data.sell_winning_trades %}
      {% comment %} {% include 'include/dash/trades_comparision_card.html' with buy_win_rate=overview_data.buy_win_rate sell_win_rate=overview_data.sell_win_rate loss=overview_data.losing_trades win=overview_data.winning_trades %} {% endcomment %}
    </section>
    {% comment %}
  </section> {% endcomment %}

  {% if chart_data %}
    <section class="mt-6 w-full border border-text/10 p-4 rounded-lg">
      <h4 class="text-sm sm:text-base font-semibold text-title/80 mb-4">Performance</h4>
      {% include 'automate/include/dash/profit_chart.html' with account=account data=chart_data %}
    </section>
  {% endif %}

  <section class="w-full flex flex-col items-start justify-between gap-6 mt-6">
    {% if assets %}
      <section class="w-full border border-text/10 p-4 rounded-lg">
        <div class="w-full flex items-center justify-between mb-4">
          <h4 class="text-sm sm:text-base font-semibold text-title/80">Assets</h4>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-2 pointer-events-none">
              <svg class="w-4 aspect-auto text-text/60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="m21 21-4.34-4.34" />
                <circle cx="11" cy="11" r="8" />
              </svg>
            </div>
            <input type="text" class="input-text text-xs pl-8 w-full" placeholder="Search assets..." onkeyup="filterAssets()" />
          </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-2">
          {% for asset in assets.items %}
            {% include 'include/dash/asset_card.html' with title=asset.0 info=asset.1 %}
          {% endfor %}
        </div>
      </section>
    {% endif %}

    {% if sources %}
      <section class="w-full border border-text/10 p-4 rounded-lg">
        <div class="w-full flex items-center justify-between mb-4">
          <h4 class="text-sm sm:text-base font-semibold text-title/80">Sources</h4>
          <div class="relative">
            <div class="absolute inset-y-0 left-0 flex items-center pl-2 pointer-events-none">
              <svg class="w-4 aspect-auto text-text/60" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="m21 21-4.34-4.34" />
                <circle cx="11" cy="11" r="8" />
              </svg>
            </div>
            <input type="text" class="input-text text-xs pl-8 w-full" placeholder="Search sources..." onkeyup="filterSources()" />
          </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-2">
          {% for source in sources.items %}
            {% url 'strategy' slug=source.0.slug as source_url %}
            {% include 'include/dash/asset_card.html' with url=source_url title=source.0 info=source.1 %}
          {% endfor %}
        </div>
      </section>
    {% endif %}
  </section>

  {% if trades|length > 0 %}
    <section class="mt-6 w-full border border-text/10 mb-12 p-4 rounded-lg">
      <h4 class="text-sm sm:text-base font-semibold text-title/80 mb-4">List of Trades</h4>
      <div class="h-96 w-full">
        {% include 'automate/include/account_trades.html' with broker_type=account.broker_type id=account.id only_closed_trades=only_closed_trades thead_class='' %}
      </div>
    </section>
  {% endif %}
{% endblock %}
