{% extends 'page.html' %} {% load static %} 

{% block head_title %}
<title>IsAlgo | Automate your alerts</title>
{% endblock head_title %}

{% block head_description %}
<meta name="description" content="Become part of a community where trading success is the norm. Discover strategies results, insights, and support to thrive in any market. Your journey towards profitability starts here.">
{% endblock head_description %}


{% block page %} 


{% if has_subscription %}
<div class=" flex items-baseline gap-2 sm:gap-3">
    <h1 class="main-title">Automate </h1>
    <button onclick="openModel('add-broker-modal');" class="btn-text -translate-y-1 pr-3 pl-2 text-sm font-semibold inline-flex items-center justify-center"><svg class="h-4 mr-1 aspect-square" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg> Broker</button>
</div>
    

<main id="at-accounts" class="mt-8 mb-16 ">
    {% include 'include/accounts_list.html' %}
</main>

{% include 'include/add_broker_modal.html' %}
{% include 'include/add_crypto_broker_modal.html' with broker_type="binance" %}
{% include 'include/add_crypto_broker_modal.html' with broker_type="binanceus" %}
{% include 'include/add_crypto_broker_modal.html' with broker_type="bitget" %}
{% include 'include/add_crypto_broker_modal.html' with broker_type="bybit" %}
{% include 'include/add_crypto_broker_modal.html' with broker_type="bingx" %}
{% include 'include/add_crypto_broker_modal.html' with broker_type="bitmex" %}
{% include 'include/add_crypto_broker_modal.html' with broker_type="bitmart" %}

{% include 'include/add_forex_broker_modal.html' with broker_type="tradelocker" %}


{% else %}
<h1 class="mt-8 text-center text-3xl sm:text-6xl text-title font-extrabold">Automate Your Trading </br> <span class="bg-clip-text bg-gradient-to-tl to-primary from-secondary text-transparent">with any broker<span></h1>


<div class="mt-6 mb-8 max-w-xl mx-auto px-4">
    <h2 class=" text-center text-text/60 text-lg sm:text-xl font-medium">Connect TradingView alerts to multiple brokers and execute trades in <span class="text-primary">milliseconds</span></h2>

    {% if user.is_authenticated %}
    <a
        href="{% url 'membership' %}"
        class="btn-primary-landing from-text/80 to-text sm:text-lg mt-6 px-6 !flex !mx-auto w-fit "
        >Start Automating Now
        <svg class="h-5 w-5 ml-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"><path d="M84,16V12a12,12,0,0,1,24,0v4a12,12,0,0,1-24,0ZM16,108a12,12,0,0,0,0-24H12a12,12,0,0,0,0,24ZM128.2,39.38a12,12,0,0,0,15.18-7.59l4-12a12,12,0,0,0-22.76-7.58l-4,12A12,12,0,0,0,128.2,39.38Zm-104,81.24-12,4a12,12,0,1,0,7.58,22.76l12-4a12,12,0,1,0-7.58-22.76Zm197.93,60.55a20,20,0,0,1,0,28.29l-12.68,12.68a20,20,0,0,1-28.29,0l-45.51-45.51L118.54,216h0a19.81,19.81,0,0,1-18.27,12l-1,0a19.81,19.81,0,0,1-18-13.74L29,54.16A20,20,0,0,1,54.16,29L214.24,81.27A20,20,0,0,1,216,118.54l-39.37,17.12Zm-19.8,14.14L155.5,148.47A20,20,0,0,1,161.67,116l35-15.21L54.29,54.29l46.49,142.37,15.21-35A20,20,0,0,1,130.6,150a19.74,19.74,0,0,1,3.74-.36,20,20,0,0,1,14.13,5.86l46.84,46.84Z"></path></svg>
    </a>
    {% else %}    
    <a
        href="{% url 'register' %}"
        class="btn-primary-landing from-text/80 to-text sm:text-lg mt-6 px-6 !flex !mx-auto w-fit "
        >Start Automating Now
        <svg class="h-5 w-5 ml-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"><path d="M84,16V12a12,12,0,0,1,24,0v4a12,12,0,0,1-24,0ZM16,108a12,12,0,0,0,0-24H12a12,12,0,0,0,0,24ZM128.2,39.38a12,12,0,0,0,15.18-7.59l4-12a12,12,0,0,0-22.76-7.58l-4,12A12,12,0,0,0,128.2,39.38Zm-104,81.24-12,4a12,12,0,1,0,7.58,22.76l12-4a12,12,0,1,0-7.58-22.76Zm197.93,60.55a20,20,0,0,1,0,28.29l-12.68,12.68a20,20,0,0,1-28.29,0l-45.51-45.51L118.54,216h0a19.81,19.81,0,0,1-18.27,12l-1,0a19.81,19.81,0,0,1-18-13.74L29,54.16A20,20,0,0,1,54.16,29L214.24,81.27A20,20,0,0,1,216,118.54l-39.37,17.12Zm-19.8,14.14L155.5,148.47A20,20,0,0,1,161.67,116l35-15.21L54.29,54.29l46.49,142.37,15.21-35A20,20,0,0,1,130.6,150a19.74,19.74,0,0,1,3.74-.36,20,20,0,0,1,14.13,5.86l46.84,46.84Z"></path></svg>
    </a>
    {% endif %}
</div>

<div class="py-8 w-full mx-auto my-auto relative max-w-3xl overflow-hidden">

    <div class="absolute top-0 left-0 bottom-0 w-8  bg-gradient-to-r from-background pointer-events-none z-10"></div>
    <div class="absolute bottom-0 top-0 right-0 w-8 bg-gradient-to-l from-background pointer-events-none z-10"></div>
    
    <div class="mb-16 fill-text/60 text-text/60 flex items-center gap-12 justify-center animate-scroll w-full">
        {% include 'svg/binance.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/binance_us.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bitget.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bybit.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bingx.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bitmart.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bitmex.html' with class="h-6 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/mexc.html' with class="h-6 aspect-auto fill-current text-current  shrink-0" %} 
        {% include 'svg/tradelocker.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}

        {% include 'svg/binance.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/binance_us.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bitget.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bybit.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bingx.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bitmart.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bitmex.html' with class="h-6 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/mexc.html' with class="h-6 aspect-auto fill-current text-current  shrink-0" %} 
        {% include 'svg/tradelocker.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
    </div>
    
    <div class="text-text/80 w-full flex justify-center">
        {% include 'svg/tradingview.html' with class="h-16 aspect-auto fill-current text-current  shrink-0" %}
    </div>
    
    <div class="mt-16 fill-text/60 text-text/60 flex items-center gap-12 justify-center animate-scroll-reverse w-full">
        {% include 'svg/tradelocker.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/mexc.html' with class="h-6 aspect-auto fill-current text-current  shrink-0" %} 
        {% include 'svg/bitmex.html' with class="h-6 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bitmart.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bingx.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/binance.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bybit.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bitget.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/binance_us.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}

        {% include 'svg/tradelocker.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/mexc.html' with class="h-6 aspect-auto fill-current text-current  shrink-0" %} 
        {% include 'svg/bitmex.html' with class="h-6 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bitmart.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bingx.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/binance.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bybit.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/bitget.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
        {% include 'svg/binance_us.html' with class="h-8 aspect-auto fill-current text-current  shrink-0" %}
    </div>
</div>

{% endif %}


{% include "include/modal_images_main.html" %}
{% endblock page %}
