{% extends 'page.html' %} {% load static %}

{% block head_title %}
  <title>IsAlgo | Automate TradingView Alerts | Connect to Binance, Bybit, MetaTrader & More</title>
{% endblock %}

{% block head_description %}
  <meta name="description" content="Automate your TradingView alerts and execute trades instantly across top brokers like Binance, Bybit, Bitget, Coinbase, MetaTrader, and more. Seamlessly link your strategies and trade smarter with IsAlgo." />
{% endblock %}

{% block head %}
  <style>
    #dynamic-line {
      /* Start with a gradient that is entirely the light color */
      background: linear-gradient(to bottom, hsl(var(--color-title) / 0.8) 100%, hsl(var(--color-title) / 0.2) 0%);
    }
  </style>
{% endblock %}

{% block page %}
  {% if user.is_authenticated %}
    <div class="flex items-baseline gap-2 sm:gap-3">
      <h1 class="main-title">Automate</h1>
      <button onclick="openModel('add-broker-modal');" class="btn-title -translate-y-1 pr-3 pl-2 text-sm font-semibold inline-flex items-center justify-center">
        <svg class="h-4 mr-1 aspect-square" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus">
          <path d="M5 12h14" />
          <path d="M12 5v14" />
        </svg>Account
      </button>
    </div>

    <main id="at-accounts" class="mt-8 mb-16">
      {% include 'include/accounts_list.html' %}
    </main>

    {% include 'include/add_broker_modal.html' %}
    {% include 'include/add_broker.html' with broker_type='binance' %}
    {% include 'include/add_broker.html' with broker_type='binanceus' %}
    {% include 'include/add_broker.html' with broker_type='bitget' %}
    {% include 'include/add_broker.html' with broker_type='bybit' %}
    {% include 'include/add_broker.html' with broker_type='crypto' %}
    {% include 'include/add_broker.html' with broker_type='mexc' %}
    {% include 'include/add_broker.html' with broker_type='bingx' %}
    {% include 'include/add_broker.html' with broker_type='bitmart' %}
    {% include 'include/add_broker.html' with broker_type='kucoin' %}
    {% include 'include/add_broker.html' with broker_type='coinbase' %}
    {% include 'include/add_broker.html' with broker_type='kraken' %}
    {% include 'include/add_broker.html' with broker_type='okx' %}
    {% include 'include/add_broker.html' with broker_type='apex' %}
    {% include 'include/add_broker.html' with broker_type='hyperliquid' %}
    {% comment %} {% include 'include/add_broker.html' with broker_type='bitmex' %} {% endcomment %}

    {% include 'include/add_broker.html' with broker_type='tradelocker' broker='forex' %}
    {% comment %} {% include 'include/add_broker.html' with broker_type='dxtrade' broker='forex' %} {% endcomment %}
    {% include 'include/add_broker.html' with broker_type='metatrader4' broker='forex' %}
    {% include 'include/add_broker.html' with broker_type='metatrader5' broker='forex' %}
    {% include 'include/add_broker.html' with broker_type='ctrader' broker='forex' %}
    {% include 'include/add_broker.html' with broker_type='deriv' broker='forex' %}
    {% include 'include/add_broker.html' with broker_type='alpaca' broker='forex' %}
    {% include 'include/add_broker.html' with broker_type='hankotrade' broker='forex' %}
    {% include 'include/add_broker.html' with broker_type='tastytrade' broker='forex' %}
  {% else %}
    <section class="w-full flex flex-col items-center justify-center min-h-[80vh]">
      <h1 class="animate-fade-up animation-delay-150 mt-8 text-center text-3xl sm:text-6xl text-title font-extrabold">Automate Your Trading <br /> <span class="bg-clip-text bg-gradient-to-tl to-primary from-secondary text-transparent">with any broker</span></h1>

      <div class="mt-6 mb-8 max-w-xl mx-auto px-4 space-y-6">
        <h2 class="animate-fade-down animation-delay-300 text-center text-text/60 text-lg sm:text-xl font-medium">Connect TradingView alerts to multiple brokers and execute trades in <span class="text-primary">milliseconds</span></h2>

        <div class="animate-fade-up animation-delay-500">
          {% if user.is_authenticated %}
            <a href="{% url 'membership' %}" class="btn-primary-landing from-text/80 to-text sm:text-lg px-6 !flex !mx-auto w-fit">
              Start Automating Now<svg class="h-5 w-5 ml-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                <path d="M84,16V12a12,12,0,0,1,24,0v4a12,12,0,0,1-24,0ZM16,108a12,12,0,0,0,0-24H12a12,12,0,0,0,0,24ZM128.2,39.38a12,12,0,0,0,15.18-7.59l4-12a12,12,0,0,0-22.76-7.58l-4,12A12,12,0,0,0,128.2,39.38Zm-104,81.24-12,4a12,12,0,1,0,7.58,22.76l12-4a12,12,0,1,0-7.58-22.76Zm197.93,60.55a20,20,0,0,1,0,28.29l-12.68,12.68a20,20,0,0,1-28.29,0l-45.51-45.51L118.54,216h0a19.81,19.81,0,0,1-18.27,12l-1,0a19.81,19.81,0,0,1-18-13.74L29,54.16A20,20,0,0,1,54.16,29L214.24,81.27A20,20,0,0,1,216,118.54l-39.37,17.12Zm-19.8,14.14L155.5,148.47A20,20,0,0,1,161.67,116l35-15.21L54.29,54.29l46.49,142.37,15.21-35A20,20,0,0,1,130.6,150a19.74,19.74,0,0,1,3.74-.36,20,20,0,0,1,14.13,5.86l46.84,46.84Z"></path>
              </svg>
            </a>
          {% else %}
            <a href="{% url 'register' %}" class="btn-primary-landing from-text/80 to-text sm:text-lg px-6 !flex !mx-auto w-fit">
              Start Automating Now<svg class="h-5 w-5 ml-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                <path d="M84,16V12a12,12,0,0,1,24,0v4a12,12,0,0,1-24,0ZM16,108a12,12,0,0,0,0-24H12a12,12,0,0,0,0,24ZM128.2,39.38a12,12,0,0,0,15.18-7.59l4-12a12,12,0,0,0-22.76-7.58l-4,12A12,12,0,0,0,128.2,39.38Zm-104,81.24-12,4a12,12,0,1,0,7.58,22.76l12-4a12,12,0,1,0-7.58-22.76Zm197.93,60.55a20,20,0,0,1,0,28.29l-12.68,12.68a20,20,0,0,1-28.29,0l-45.51-45.51L118.54,216h0a19.81,19.81,0,0,1-18.27,12l-1,0a19.81,19.81,0,0,1-18-13.74L29,54.16A20,20,0,0,1,54.16,29L214.24,81.27A20,20,0,0,1,216,118.54l-39.37,17.12Zm-19.8,14.14L155.5,148.47A20,20,0,0,1,161.67,116l35-15.21L54.29,54.29l46.49,142.37,15.21-35A20,20,0,0,1,130.6,150a19.74,19.74,0,0,1,3.74-.36,20,20,0,0,1,14.13,5.86l46.84,46.84Z"></path>
              </svg>
            </a>
          {% endif %}
        </div>
      </div>
      {% include 'svg/automate_svg.html' %}
    </section>

    <section class="mx-auto w-full mt-24 mb-10">
      <h2 class="text-title text-5xl font-bold text-center mt-12">How it works</h2>

      <div class="w-full mt-14 relative">
        <div class="relative mx-auto text-text p-6">
          <div class="relative flex items-center p-6 my-16 bg-gradient-to-bl from-0% via-70% to-100% from-background via-background to-title/20 rounded-lg w-fit max-w-lg">
            <span class="absolute right-1/3 w-28 aspect-square bg-title/80 opacity-10 z-10 rounded-full text-background font-semibold text-8xl flex items-center justify-center mx-2">1</span>

            <div class="">
              <h3 class="text-sm text-text mb-2">STEP 1</h3>
              <h3 class="font-bold text-2xl text-title">Choose a Strategy/Indicator to automate</h3>
              <p class="font-medium text-base text-text/80 mt-4">
                Select <strong class="text-text">the ideal</strong> strategy or indicator to automate after <strong class="text-text">thorough testing</strong>. It can be from IsAlgo or any other source.
              </p>

              <div class="mt-4 max-h-64 max-w-full ml-auto flex gap-2">
                <img class="hover:cursor-zoom-in h-full aspect-auto rounded-md translate-x-8 object-cover" src="{% static 'images/landingPage/automate/select-strategy.png' %}" onclick="showModalImages(this)" />
              </div>
            </div>
          </div>

          <div class="relative flex items-center p-6 my-16 bg-gradient-to-tl from-0% via-70% to-100% from-background via-background to-title/20 rounded-lg w-fit max-w-lg ml-auto">
            <span class="absolute right-1/3 w-28 aspect-square bg-title/80 opacity-10 z-10 rounded-full text-background font-semibold text-8xl flex items-center justify-center mx-2">2</span>

            <div class="">
              <h3 class="text-sm text-text mb-2">STEP 2</h3>
              <h3 class="font-bold text-2xl text-title">Set up the alert messages</h3>
              <p class="font-medium text-base text-text/80 mt-4">
                Configure the alert messages so our software can interpret them correctly. Use <a href="{% url 'docs_automate_playground' %}" class="text-text font-bold">the playground</a> for guidance.
              </p>
              <div class="mt-4 ml-auto max-w-full flex gap-2">
                <img class="hover:cursor-zoom-in max-h-96 aspect-auto rounded-md translate-x-8 object-cover" src="{% static 'images/landingPage/automate/alerts-section-1.png' %}" onclick="showModalImages(this)" />
                <img class="hover:cursor-zoom-in max-h-80 aspect-auto rounded-md translate-x-8 object-cover" src="{% static 'images/landingPage/automate/alerts-section-2.png' %}" onclick="showModalImages(this)" />
              </div>
            </div>
          </div>

          <div class="relative flex items-center p-6 my-16 bg-gradient-to-bl from-0% via-70% to-100% from-background via-background to-title/20 rounded-lg w-fit max-w-lg">
            <span class="absolute right-1/3 w-28 aspect-square bg-title/80 opacity-10 z-10 rounded-full text-background font-semibold text-8xl flex items-center justify-center mx-2">3</span>

            <div class="">
              <h3 class="text-sm text-text mb-2">STEP 3</h3>
              <h3 class="font-bold text-2xl text-title">Link your broker</h3>
              <p class="font-medium text-base text-text/80 mt-4">
                Connect your <strong class="text-text">preferred broker</strong> by following the simple steps to obtain the <strong class="text-text">webhook URL</strong>.
              </p>

              <div class="mt-4 max-h-72 max-w-full ml-auto flex gap-2">
                <img class="hover:cursor-zoom-in h-full aspect-auto rounded-md translate-x-8 object-cover" src="{% static 'images/landingPage/automate/add-broker-account.png' %}" onclick="showModalImages(this)" />
              </div>
            </div>
          </div>

          <div class="relative flex items-center p-6 my-16 bg-gradient-to-tl from-0% via-70% to-100% from-background via-background to-title/20 rounded-lg w-fit max-w-lg ml-auto">
            <span class="absolute right-1/3 w-28 aspect-square bg-title/80 opacity-10 z-10 rounded-full text-background font-semibold text-8xl flex items-center justify-center mx-2">4</span>

            <div class="">
              <h3 class="text-sm text-text mb-2">STEP 4</h3>
              <h3 class="font-bold text-2xl text-title">Create TradingView alert</h3>
              <p class="font-medium text-base text-text/80 mt-4">
                Set up a TradingView alert and <strong class="text-text">enable the alert webhook</strong> to establish the connection.
              </p>

              <div class="mt-4 ml-auto max-w-full flex gap-2">
                <img class="hover:cursor-zoom-in max-h-80 aspect-auto rounded-md translate-x-8 object-cover" src="{% static 'images/landingPage/automate/create-tv-alert-2.png' %}" onclick="showModalImages(this)" />
                <img class="hover:cursor-zoom-in max-h-96 aspect-auto rounded-md translate-x-8 object-cover" src="{% static 'images/landingPage/automate/create-tv-alert-1.png' %}" onclick="showModalImages(this)" />
              </div>
            </div>
          </div>

          <div id="dynamic-line" class="absolute left-1/2 top-0 bottom-0 w-1.5 -z-40 rounded-md -translate-x-1/2 transition-all duration-300"></div>
        </div>

        <div class="relative flex items-center p-2 py-16 rounded-xl border-0 border-secondary w-fit max-w-xl mx-auto">
          <div class="text-center max-w-xs">
            <h3 class="font-bold text-2xl text-title">All Set!</h3>
            <p class="font-medium text-base text-text/80 mt-2">Everything is set—sit back and watch the trades execute automatically.</p>
            <a href="{% url 'register' %}" class="btn-primary-landing !text-2xl from-text/80 to-text sm:text-lg mt-6 px-6 !flex !mx-auto w-fit">
              Try it Now<svg class="h-5 w-5 ml-2" stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
                <path d="M84,16V12a12,12,0,0,1,24,0v4a12,12,0,0,1-24,0ZM16,108a12,12,0,0,0,0-24H12a12,12,0,0,0,0,24ZM128.2,39.38a12,12,0,0,0,15.18-7.59l4-12a12,12,0,0,0-22.76-7.58l-4,12A12,12,0,0,0,128.2,39.38Zm-104,81.24-12,4a12,12,0,1,0,7.58,22.76l12-4a12,12,0,1,0-7.58-22.76Zm197.93,60.55a20,20,0,0,1,0,28.29l-12.68,12.68a20,20,0,0,1-28.29,0l-45.51-45.51L118.54,216h0a19.81,19.81,0,0,1-18.27,12l-1,0a19.81,19.81,0,0,1-18-13.74L29,54.16A20,20,0,0,1,54.16,29L214.24,81.27A20,20,0,0,1,216,118.54l-39.37,17.12Zm-19.8,14.14L155.5,148.47A20,20,0,0,1,161.67,116l35-15.21L54.29,54.29l46.49,142.37,15.21-35A20,20,0,0,1,130.6,150a19.74,19.74,0,0,1,3.74-.36,20,20,0,0,1,14.13,5.86l46.84,46.84Z"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript">
      // This function recalculates the gradient cutoff based on scroll position.
      function updateLineGradient() {
        const line = document.getElementById('dynamic-line')
        if (!line) return
      
        // Get the line's bounding rectangle
        const rect = line.getBoundingClientRect()
      
        // We define the viewport midpoint
        const viewportMid = window.innerHeight / 2
      
        // Calculate how much of the line is above the viewport midpoint.
        // Ensure we clamp the value between 0 and 100.
        const cutoffPercentage = Math.max(0, Math.min(100, ((viewportMid - rect.top) / rect.height) * 100))
      
        // Set the gradient: above the cutoff -> dark, below -> light
        line.style.background = `linear-gradient(to bottom, hsl(var(--color-title) / 0.8) ${cutoffPercentage}%, hsl(var(--color-title) / 0.2) ${cutoffPercentage}%)`
      }
      
      // Update on scroll and resize
      window.addEventListener('scroll', updateLineGradient)
      window.addEventListener('resize', updateLineGradient)
      
      // Initialize the gradient on page load
      updateLineGradient()
    </script>
  {% endif %}
{% endblock %}
